[2017-02-10 16:44] jtanus opened #1 "Initial code frame with technical stack"

[2017-02-10 16:45] jtanus opened #2 "Initial UI Implentation"

[2017-02-10 16:46] jtanus commented on #2
We will review the design

[2017-02-10 16:47] jtanus opened #3 "Build CI/CD environment"

[2017-02-10 17:26] jtanus opened #4 "REST API design"

[2017-02-13 21:03] cbgordon opened #5 "Admin User Story 1"
As an administrator, I want to maintain a list of vendors and suppliers to I can use them to manage contracts and the catalog of products/services

[2017-02-13 21:03] cbgordon opened #6 "Admin User Story 1 - Show Contract Expirations"
As an administrator, I want to be notified and have the system track when pre-established state contracts with vendors expire so I can update the catalog accordingly and authorized users cannot order from vendors with expired contracts

Acceptance Criteria:
* User receives an alert when a vendor contract's end date is equal to today
* Products and services by expired vendor cannot be ordered

[2017-02-13 21:04] cbgordon opened #7 "Admin User Story 2 - Add Items to Catalog"
As an administrator, I want to be able to add products and services provided by state contracted vendors to the catalog so consumers can order item(s) they want

Acceptance Criteria:
•	User can access a screen to add items one at a time
•	Screen contains the following fields:
- CLIN [text]
- UNPSC Code (Version 11) [text]
- Manufacturer Part Number (OEM #) [text]
- Manufacturer (OEM) [text]
- SKU

[2017-02-13 21:04] cbgordon opened #8 "Admin User Story 4 - Delete Products and Services from Catalog"
As an administrator, I want to delete products and services from the catalog so I can ensure items that aren’t available for ordering do not appear

Acceptance Criteria:
•	User can remove an item from the catalog

[2017-02-13 21:05] cbgordon opened #9 "Admin User Story 5 - Create and Manage Users"
As an administrator, I want to create users, assign a department and manage users so they can access the system

Acceptance Criteria:
•	User can create system users
* User can assign/unassign a user to a department
•	User can remove system user access

[2017-02-13 21:05] cbgordon opened #10 "Admin User Story 6 - Assign User Account Permissions"
As an administrator, I want to assign roles and permissions to system users so different tasks can be performed by users based on those permissions

Acceptance Criteria:
•	User can assign roles and permissions to system users:
o	Consumer
o	Administrator

[2017-02-13 21:06] cbgordon opened #11 "Admin User Story 7 - View Authorized Users' Orders"
As an administrator, I want to view active orders and order history by authorized users so I can approve/reject orders under review, cancel orders and provide support functions

Acceptance Criteria:
•	User can search for active orders by:
o	User
o	Order Date
o	Order #
o	Order Status
•	User can view a list of orders with following columns
o	User
o	Product(s)
o	Order Date
o	Order #
o	Order Total
o	O

[2017-02-13 21:06] cbgordon opened #12 "Admin User Story 8 - Approve or Reject Orders under Review"
As an administrator, I want to approve or reject orders that are under review so that only authorized order can be processed

Acceptance Criteria:
•	User can search for active orders by:
o	User
o	Order Date
o	Order #
o	Order Status
•	User can view a list of orders with following columns
o	User
o	Product(s)
o	Order Date
o	Order #
o	Order Total
o	Order Status
	Pending
	Confirmed
•	User can select

[2017-02-13 21:06] cbgordon opened #13 "Admin User Story 9"
As an administrator, I want to cancel orders made by users so I can stop an order in process

[2017-02-13 21:07] cbgordon opened #14 "Admin User Story 9 - View Overall Order Statistics"
As an administrator, I want to see a dashboard of reports that allow me to view expenditures over a period of time, expenditures by product type, expenditures by vendor and purchases by department over a period of so I can be aware of order statistics and trends

Acceptance Criteria:
•	Arrive at Reports Dashboard as an Administrator
•	See an "Expenditures Over a Period of Time" panel
•	See an "Exp

[2017-02-13 21:07] cbgordon opened #15 "Admin User Story 10 - Export Purchase Information in Analytics"
As an administrator, I want to view all information of purchases from an entered date range or by contract and export the information

Acceptance Criteria:
* view all purchase data and export in spreadsheet or CSV

[2017-02-13 21:08] cbgordon opened #16 "Authorized User Story 1 - Quick Search"
As an authorized user, I want to quick search inventory by using keyword so I can quickly find item(s) I want.

Acceptance Criteria:
•	User can enter keyword to search inventory
•	System allows user to use multiple keyword by separating them using “,”
•	System use entered key word(s) to search in following fields of items details:
o	Item Description
o	Category
o	Manufacturer
o	Manufacturer Part Nu

[2017-02-13 21:08] cbgordon opened #17 "Authorized User Story 2 - Advanced Search"
As an Authorized User, I want to use advanced search  by using filters so I can have more specific search result

Acceptance Criteria:
•	User can search by one or combination of following filters:
* Product title /description
o	Category
o	Price (range)
o	Manufacturer
o	Manufacturer Part Number (OEM #)
o	SKU#/Item#
•	System display search result (refer to search result user story)
* contract number

[2017-02-13 21:09] cbgordon opened #18 "Authorized User Story 3 - Browse Inventory by Category"
As an Authorized User, I want to browse inventory by using category

Acceptance Criteria:
•	User can select a category to browse items
•	System display search result (refer to search result user story)

- [x] Add Category Pages to application.
     - Software
          - DDPE
          - Absolute Computrace
     - Hardware
          - Desktops
          - Laptops
          - Accessories
     - Ser

[2017-02-13 21:09] cbgordon opened #19 "Authorized User Story 4 - View Search Results"
As an Authorized User, I want to view the search result in a list page

Acceptance Criteria:
•	Display following columns
o	Item Picture
o	Item Description
o	Category
o	Manufacturer
o	Manufacturer Part Number (OEM #)
o	SKU#/Item#
o	Price
o	Availability
•	User can sort by:
o	Name
o	Item Description
o	Category
o	Manufacturer
o	Manufacturer Part Number (OEM #)
o	SKU#/Item#
o	Price
o	Availability
•	Eac

[2017-02-13 21:09] cbgordon opened #20 "Authorized User Story 5 - Compare Items"
As an Authorized User, I want to select certain items for comparison so I can decide which one would be the best choice

Acceptance Criteria:
•	User can choose up to 4 items to compare from the search result page
•	System display following info in comparison page in a table:
o	Item picture
o	Item Description
o	Category
o	Manufacturer
o	Manufacturer Part Number (OEM #)
o	SKU#/Item#
o	Price
•	User s

[2017-02-13 21:10] cbgordon opened #21 "Authorized User Story 6 - Browse Item Details"
As an Authorized User, I want select an item to view so I can browse the details
Acceptance Criteria:
•	Following information displayed in details page:
o	Item picture
o	Item Description
o	Category
o	Manufacturer
o	Manufacturer Part Number (OEM #)
o	SKU#/Item#
* Discount Price
•	User have “Add to Cart” option
•	User can modify quantity to “Add to Cart”, default is 1
•	User have option to view enla

[2017-02-13 21:10] cbgordon opened #22 "Authorized User Story 7 - Manage Shopping Cart"
As an Authorized User, I want to manage my shopping cart  so I can prepare the order I want to place
Acceptance Criteria:
•	User can view current shopping cart
•	Following info are displayed for items in shopping cart:
o	Item picture
o	Item Description
o	Category
o	Manufacturer
o	Manufacturer Part Number (OEM #)
o	SKU#/Item#
o	Price
o	Quantity
o	Total
o	Order Total
•	User needs to have ability to

[2017-02-13 21:10] cbgordon opened #23 "Authorized User Story 8 - Place an Order"
As an Authorized User, I want to place an order

Acceptance Criteria:
•	User have “check out” option from shopping cart
•	User enter required information for checkout (I’m not sure what exact information would be required in this case, I just listed some examples)
o	Name
o	Department
o	Phone Number
o	Email Address
o	Delivery Address
o	Payment Method (State Agency Account Number): drop-down of four

[2017-02-13 21:12] cbgordon opened #24 "Authorized User Story 9 - View Order Details"
As an Authorized User, I want to select an order to view so I can see the order details

Acceptance Criteria:
•	System display following info in order details page:
o	Order Date
o	Order #
* Email Address
o	Order placed by (Name/Department)
o	Delivery Address
o	Status
o	Item list:
Product Name
	Item description
	Quantity
	Price
	Item total
o	Order Total
•	User should able to cancel the order fr

[2017-02-13 21:12] cbgordon opened #25 "Authorized User Story 10 - Cancel Order"
As an Authorized User, I want to cancel an order to stop the order processing process

Acceptance Criteria:
•	User should able to cancel an order if order status is “Pending” or Under Review”
•	User should not cancel an order with status = confirmed/shipped/delivered
•	Once cancelled successfully, system sent notification email to user’s email in order details

[2017-02-14 13:43] ClaireReinken opened #26 "Authorized User Story 11 - View Order History"
As an Authorized User, I want view order history to I see a list or orders I placed
Acceptance Criteria:
•	User can use “My Orders” function to track order status
•	User can view a list of orders with following columns
o	Order Date
o	Order #
o	Order Total
o	Order Status
	Pending
	Confirmed
	Cancelled
•	User can select an order to view details from history page
•	User can select an order to canc

[2017-02-14 14:16] #5 closed, assigned to nobody

[2017-02-14 14:21] ClaireReinken opened #27 "Admin User Story 3 - Bulk Import Catalog Items"
As an administrator, I want to add product catalog items in bulk so that each item does not have to be added line by line or cell by cell

Acceptance Criteria:
•	Administrators can import the catalog in .xlsx or .CSV format by using a bulk feature to import all items at once
•	The spreadsheet must contain the following data columns:
o	CLIN
o	UNPSC Code (Version 11)
o	Manufacturer Part Number (OEM

[2017-02-14 14:29] ClaireReinken commented on #13
Similar to User Story #12

[2017-02-14 14:29] #13 closed, assigned to nobody

[2017-02-14 14:59] ClaireReinken opened #28 "User Accounts for Authorized Consumer and Admin Users"
The Prototype should have 3 authorized consumer user accounts and 2 admin user accounts with login information.

Acceptance criteria:
Following Admin accounts are created:
**Admin Account 1:**
 - Username: Admin1
 - Password: @dMin1

**Admin Account 2:**
 - Username: Admin2
 - Password: @dMin2

Following Consumer account are created:
**Authorized User Account 1:**
 - Username: AuthorizedUser1
 - P

[2017-02-14 15:11] ClaireReinken opened #29 "Authorized User Story 12 - Search Items by key words and not just exact matches"
Need to be able to search items by partial matches not just exact matches

Acceptance Criteria:

- When search item using key words, system returns result using key word partial match.

[2017-02-14 15:12] ClaireReinken opened #30 "Authorized User Story 13 - Catalog Item Names Need to be Shortened from Provided Descriptions"
Many of the hardware descriptions provided in the Prototype A resources can be a paragraph long. The item titles should be shortened to the first few key words with the full description appearing in item details.

[2017-02-14 15:16] ClaireReinken opened #31 "Authorized User Story 14 - Upgrade Options should Display if associated with a Parent Item"
As a authorized use, I want to see upgrade options for the item I selected if there is one.

Acceptance Criteria:
The Prototype A resources PDF includes upgrade options, such as speakers or warranties, for certain "parent" items like desktops and laptops. When a user is viewing a laptop or desktop that has associated "child" upgrade option items, these child items should display as suggested purch

[2017-02-14 15:17] ClaireReinken opened #32 "Authorized User Story 15 - Print Function on the Order Confirmation Page"
As a user, after placing an order, I should be able to easily print my order information from the order confirmation page.

**Acceptance Criteria:**

- A print button/link is displayed on order confirmation page

- Once print, system generate a PDF version of order confirmation page

[2017-02-14 15:18] ClaireReinken opened #33 "Authorized User Story 16 - Print Order History Information"
As an authorized user, I should be able to print my order history information from the Order History page.
**Acceptance Criteria:**

- User should able to see print button/link from order history page
- Once print, system generate a PDF version of current order history page (based on current order history search filters)

[2017-02-14 15:19] ClaireReinken opened #34 "Authorized User Story 17 - Address Book - Saved to Account Information"
As an authorized user, I should be able to optionally save my address book  in the Account Information page.

Acceptance Criteria:

- When check out, if using a new address, system ask me if I want to save the address to address book. If yes, the address is saved.

- I can navigate to address book under My Account to view/add/edit/delete saved address

- I can set one saved address as default addr

[2017-02-14 15:20] ClaireReinken opened #35 "Authorized User Story 18 - Return Items"
As an authorized user, I should be able to return items I have purchased.

- I should only be able to return an item if order status = delivered

- Only order placed within 30 days can be returned

- I should able to check item(s) that I want to return from order details page

- Once confirmed return, system show me return instruction including how to pack item(s) and where to ship the item(s) and

[2017-02-14 15:21] ClaireReinken opened #36 "Authorized User Story 19 - Purchase Ordered Items Again"
As an authorized user, I should be able to easily order items again from my Order Details page by using a button to add previously purchased items to my cart.

**Acceptance Criteria:**
- For each item in order details page, there is a "Re-order" link/button

- Once click "Re-order", system add the item to shopping cart and re-direct user to shopping cart

- User can then follow normal check out pr

[2017-02-14 15:22] ClaireReinken opened #37 "Authorized User Story 20 - Order History Purchases Segemented by Time Ordered Placed"
As an authorized user, I should be able to view my purchases in the Order History page by time so that orders are segmented by when the order was place, such as purchased within the last month, 2 months, 6 months, 1 year, etc.

[2017-02-14 15:24] ClaireReinken opened #38 "Authorized User Story 21 - Display Popular or Suggested Items"
As an authorized user, when I browse products, I would like to see popular or suggested items on the same page as the product I am viewing.

Acceptance Criteria:

- Once item details  page, system display up to 4 popular or suggested items within the same category of the item being viewed

- For popular or suggested items, the picture, item title, price are displayed

[2017-02-14 15:26] ClaireReinken opened #39 "Authorized User Story 22 - Show Purchased Active Warranties in Account Information"
As an authorized user who previously purchased product warranties, I should be able to see my active warranty information, including expiration date, in my Account Information.

Acceptance Criteria:

- I should have a Warranty Information section under My account.

- When I navigate to this page, I can see a list of my warranties

- By default the system display active warranties, I should also ha

[2017-02-14 15:27] ClaireReinken opened #40 "Authorized User Story 23 - Search Order History Page"
As an authorized user, I should be able to search my order history
Acceptance Criteria:
I want to search order history by following filters:
•	Key word
  o	System use entered key word to search in item description
•	Order Number
•	Category
•	Date Range (System provide following options):
  o	Today
  o	Last Week
  o	Last Month
  o	Last 3 Months
  o	Last 6 Months
  o	Custom (If this option is select

[2017-02-14 15:30] ClaireReinken opened #41 "Authorized User Story 24 - Products that Require Approval should include Approval Information in the Description"
As an authorized user, when I view an item's description, the description should contain any approval information if required.

Acceptance Criteria:

- On the item details page, if an item is marked as Approval Required (the Prototype A resource spreadsheet has items marked with an asterisk that require approval), then display info "This item requires approval to order".

[2017-02-14 15:31] ClaireReinken opened #42 "Contact Us Page"
The prototype site should contain an FAQ page that include help and support information. We need to note that if a user wants to cancel one item instead of the entire order, they need to call the help desk.

[2017-02-14 15:32] ClaireReinken opened #43 "Admin User Story 11 - Print Analytic Reports"
As an admin, I should be able to print any analytic reports after the report has been generated.

[2017-02-14 15:38] ClaireReinken opened #44 "README.md File"
Proposal Requirement: Vendors must include a publicly-available URL to its prototype at the top of a README.md file located in the root directory of your repository. The Readme.md file should be located in the root directory of its GitHub repositoryThe Readme. md file will need to be added to the prototype and coded from a Word document.  Documentation must show code flow from client UI, to JavaSc

[2017-02-14 15:40] ClaireReinken opened #45 "Documentation must show code flow from client UI, to JavaScript library, to REST service to"
Documentation must show code flow from client UI, to JavaScript library, to REST service to database, pointing to code in the GitHub repository.

[2017-02-14 15:41] ClaireReinken commented on #45
Combining with Issue #44

[2017-02-14 15:41] #45 closed, assigned to nobody

[2017-02-14 15:45] ClaireReinken opened #46 "Understood what people needed, by including people in the prototype development and design process"
Understood what people needed, by including people in the prototype development and
design process. The State understands it will be difficult to find people who would be credible actual users of the prototype, given the dataset. “People” here is to be understood as anyone not directly involved in the design or development of the prototype.
Digital Play 1: Understand what people need
* Early in th

[2017-02-14 15:45] ClaireReinken opened #47 "Used Swagger to document the RESTful API, and provided a link to the Swagger API"
Used Swagger to document the RESTful API, and provided a link to the Swagger API

[2017-02-14 15:46] ClaireReinken opened #48 "Complied with Section 508 of the Americans with Disabilities Act and WCAG 2.0;"
Complied with Section 508 of the Americans with Disabilities Act and WCAG 2.0;

- [x] Test accessibility of site

- [x] Verify all resolved accessibility issues

[2017-02-14 15:46] ClaireReinken opened #49 "Created or used a design style guide and/or a pattern library"
Created or used a design style guide and/or a pattern library
Digital Play 3: Make it simple and intuitive
* Use a simple and flexible design style guide for the service. Use the U.S. Web Design Standards as a default
* Use the design style guide consistently for related digital services
* Give users clear information about where they are in each step of the process
* Follow accessibility best pra

[2017-02-14 15:46] ClaireReinken opened #50 "Performed usability tests with people"
Performed usability tests with people

[2017-02-14 15:47] ClaireReinken opened #51 "Used an iterative approach, where feedback informed subsequent work or versions of the prototype"
Used an iterative approach, where feedback informed subsequent work or versions of the prototype
Play 4: Build the service using agile and iterative practices
* Ship a functioning “minimum viable product” (MVP) that solves a core user need as soon as possible, no longer than three months from the beginning of the project, using a “beta” or “test” period if needed
* Run usability tests frequently t

[2017-02-14 15:47] ClaireReinken opened #52 "Created a prototype that works on multiple devices, and presents a responsive design"
Created a prototype that works on multiple devices, and presents a responsive design

[2017-02-14 15:47] ClaireReinken opened #53 "Used at least 5 modern and open-source technologies, regardless of architectural layer"
Used at least five (5) modern and open-source technologies, regardless of architectural
layer (frontend, backend, etc.). " Modern” is to be understood as any technology or standard released, created, initiated or finalized in the five (5) years preceding the release of this RFI.
Digital Play 8: Choose a modern technology stack
* Choose software frameworks that are commonly used by private-sector c

[2017-02-14 15:48] ClaireReinken opened #54 "Deployed the prototype on an Infrastructure as a Service (IaaS) or PaaS provider"
Deployed the prototype on an Infrastructure as a Service (IaaS) or Platform as Service (PaaS) provider, and indicated which provider they used

[2017-02-14 15:48] ClaireReinken opened #55 "Developed automated unit tests for their code"
Developed automated unit tests for their code
Digital Play 10: Automate testing and deployments
* Create automated tests that verify all user-facing functionality
* Create unit and integration tests to verify modules and components
* Run tests automatically as part of the build process
* Perform deployments automatically with deployment scripts, continuous delivery services, or similar techniques

[2017-02-14 15:51] ClaireReinken opened #56 "Setup or used a continuous integration system to automate the running of tests"
Setup or used a continuous integration system to automate the running of tests and continuously deployed their code to their IaaS or PaaS provider

[2017-02-14 15:51] ClaireReinken opened #57 "Setup or used configuration management"
Setup or used configuration management

[2017-02-14 15:51] ClaireReinken opened #58 "Setup or used continuous monitoring"
Setup or used continuous monitoring

[2017-02-14 15:51] ClaireReinken opened #59 "Deployed their software in an open source container, such as Docker"
Deployed their software in an open source container, such as Docker (i.e., utilized operating-system-level virtualization)

child issues:

[Automate Builds of MySQL Docker Image with base config #138](https://github.com/FEISystems/ca-adpq-prototype/issues/138)

[Build CI/CD Environment - Automatic Builds of :stable Docker Image using Docker Hub #127](https://github.com/FEISystems/ca-adpq-prototype

[2017-02-14 15:52] ClaireReinken opened #60 "Prototype and underlying platforms used to create and run the prototype are openly licensed and free of charge"
Prototype and underlying platforms used to create and run the prototype are openly licensed and free of charge

[2017-02-14 15:53] ClaireReinken opened #61 "Used at least a minimum of three (3) “user-centric design” techniques and/or tools"
Used at least a minimum of three (3) “user-centric design” techniques and/or tools

[2017-02-14 16:01] ClaireReinken opened #62 "Digital Play 5: Structure budgets and contracts to support delivery"
* Budget includes research, discovery, and prototyping activities
We set up a budget covering each of these activities early on and tracked it throughout the implementation period.
* Contract is structured to request frequent deliverables, not multi-month milestones
We used Agile processes with short cadence and frequent integration. The "contract" item is irrelevant for the prototype. In a contra

[2017-02-14 16:04] ClaireReinken opened #63 "Assigned one (1) leader and gave that person authority and responsibility"
Assigned one (1) leader and gave that person authority and responsibility and held that person accountable for the quality of the prototype submitted;
Digital Play 6: Assign one leader and hold that person accountable
* A product owner has been identified
* All stakeholders agree that the product owner has the authority to assign tasks and make decisions about features and technical implementation

[2017-02-14 16:05] ClaireReinken opened #64 "Assembled a multidisciplinary and collaborative team"
Assembled a multidisciplinary and collaborative team that includes, at a minimum, five (5) of the labor categories as identified in Attachment B: PQVP DS-AD Labor Category Descriptions
Digital Play 7: Bring in experienced teams
* Member(s) of the team have experience building popular, high-traffic digital services
* Member(s) of the team have experience designing mobile and web applications
*Membe

[2017-02-14 16:08] TerryBoswell commented on #47
Swagger has been successfully implemented using Swashbuckle.AspNetCore.SwaggerGen open source.

[2017-02-14 16:08] #47 closed, assigned to TerryBoswell

[2017-02-14 16:11] ClaireReinken opened #65 "Vendors must include a publicly-available URL for the prototype"
Digital Play 9: Deploy in flexible hosting environment
* Resources are provisioned on demand
* Resources scale based on real-time user demand
* Resources are provisioned through an API
* Resources are available in multiple regions
* We only pay for resources we use
* Static assets are served through a content delivery network
* Application is hosted on commodity hardware

[2017-02-14 16:13] ClaireReinken opened #66 "Digital Play 11 - Manage security and privacy through reusable processes"
* Contact the appropriate privacy or legal officer of the department or agency to determine whether a System of Records Notice (SORN), Privacy Impact Assessment, or other review should be conducted
* Determine, in consultation with a records officer, what data is collected and why, how it is used or shared, how it is stored and secured, and how long it is kept
* Determine, in consultation with a p

[2017-02-14 16:14] ClaireReinken opened #67 "Digital Play 12 - Use data to drive decisions"
* Monitor system-level resource utilization in real time
* Monitor system performance in real-time (e.g. response time, latency, throughput, and error rates)
* Ensure monitoring can measure median, 95th percentile, and 98th percentile performance
* Create automated alerts based on this monitoring
* Track concurrent users in real-time, and monitor user behaviors in the aggregate to determine how we

[2017-02-14 16:15] TerryBoswell commented on #53
Our technology stack is a service oriented .Net Core server solution with a single page component based application

1. Asp.Net Core
2. MySQL
3. Swashbuckle Swagger
4. AngularJS 1.5
5. MySQL Connector https://github.com/mysql-net/MySqlConnector
6. X-Unit for server side testing

[2017-02-14 16:37] ClaireReinken opened #68 "Used GitHub to document code commits"
Used GitHub to document code commits

[2017-02-14 18:53] Mikewilburn302 commented on #16
Questions:
1.	When searching by multiple keywords, is the system looking for results that have one or another, or does the system only look for products that have all?
2.	Is there a limit to how many characters can be accepted in the search bar?
3.	Is there a limit to how many keywords may be searched?
4.     If keywords are not separated by commas, will the system only search for match of the exa

[2017-02-14 18:55] Mikewilburn302 commented on #18
Questions:
1.	Are there any items that would be across multiple categories, like packages? If so, would they appear under all respective categories?
2.	Are there any sub-categories?
3.	Is there a default sort order when browsing by category?

[2017-02-14 19:03] neelusingh28 commented on #25
Q1. On cancelling how payment will be refunded? Through same mode of payment or Gift card? Will there be an email notification to consumer about this?
Q2. In how many days payment would be refunded? Will there be an email notification to consumer about this?
Q3. If order status is confirmed/shipped/delivered - can it be returned? If yes, how ? Free Return shipping OR will certain cost be deducted

[2017-02-14 19:36] neelusingh28 commented on #26
Q1. Can user first see list of orders placed during certain time frame yearly wise and then click on order details to know further details?
Q2. Can a user also see following information:
List of no items ordered
Price (original, discounted or both)
billing address
shipping address
Payment method
Track Shipment info
Q3. Can user view or print invoice?
Q4. Will there be an option to write a product

[2017-02-14 19:54] ClaireReinken commented on #26
See below.

Claire Reinken, AM.PMP
Senior Proposal Manager

office   | 443.472.4613
fax       | 410.715.6538
email   |  claire.reinken@FEIsystems.com<mailto:claire.reinken@FEIsystems.com>
FEi Systems
9755 Patuxent Woods Drive, Suite 300 Columbia, MD 21046 |  www.FEIsystems.com<http://www.feisystems.com/>

From: Neelu Singh [mailto:notifications@github.com]
Sent: Tuesday, February 14, 2017 2:37 PM

[2017-02-14 20:11] Mikewilburn302 commented on #19
Questions:
1.	Are there pictures for services and warranties?
2.	What exactly is the item description? How long is it? Is it a few words, a paragraph?
3.	What is the default order?
4.	If sorting by Item description, is it alphabetical by the first word in the description?
5.	What are the tiers of sorting? Let’s say I sort by Availability and it shows me “In Stock” items first. How are those In Sto

[2017-02-14 20:17] Mikewilburn302 commented on #20
Questions:
1.	No Name field in comparison?
2.	Can a user remove items from comparison table?
3.	What happens if the user tries to select a fifth item? Is there an error message?

[2017-02-14 20:24] neelusingh28 commented on #26
Thanks for the answers above. few more -
Q7. Will it have an option of buy it again?
Q8. If any item is returned then can return/refund status be viewed?

[2017-02-14 20:31] Mikewilburn302 commented on #21
Questions:
1.	What does the user click to open the item? The picture? The name?
2.	Are we displaying any additional add-ons in any way?
3.	What about product specs? For example, for PCs we could display the CPU, GPU, RAM, Mem, Mobo, Power Supply, etc.
4.	Do any items have variables, like color, size? If so, can that be chosen in item details when adding to cart?

Ideas:
1.	Display similar items or

[2017-02-14 20:37] Mikewilburn302 commented on #22
Questions:
1.	Does changing quantity to 0 remove it when cart is updated?
2.	Is there a maximum quantity? Will the application know how many are in stock?
3.	Is there a “Continue Shopping” button?
4.	Does clicking on an item in the cart open the item details?

[2017-02-14 21:00] ClaireReinken commented on #26
See below

Claire Reinken, AM.PMP
Senior Proposal Manager

office   | 443.472.4613
fax       | 410.715.6538
email   |  claire.reinken@FEIsystems.com<mailto:claire.reinken@FEIsystems.com>
FEi Systems
9755 Patuxent Woods Drive, Suite 300 Columbia, MD 21046 |  www.FEIsystems.com<http://www.feisystems.com/>

From: Neelu Singh [mailto:notifications@github.com]
Sent: Tuesday, February 14, 2017 3:24 PM
T

[2017-02-14 21:42] neelusingh28 commented on #24
I think tracking number should not be there at this point of time in the prototype.
Product Name can also be added in the item list.

[2017-02-14 22:21] neelusingh28 commented on #30
We should make sure to continue to use the same keywords for all those hardware items across all users stories. I guess we would be using the same keywords for searching an browsing the item too.

[2017-02-14 22:48] neelusingh28 commented on #14
Q1. Will there by drop down to choose product type?
Q2. Will there be check boxes to drill down the specific products?

[2017-02-15 14:47] ClaireReinken commented on #30
Agreed, I suggest we add a column to the data set with the shortened titles so they are consistent.

Claire Reinken, AM.PMP
Senior Proposal Manager

office   | 443.472.4613
fax       | 410.715.6538
email   |  claire.reinken@FEIsystems.com<mailto:claire.reinken@FEIsystems.com>
FEi Systems
9755 Patuxent Woods Drive, Suite 300 Columbia, MD 21046 |  www.FEIsystems.com<http://www.feisystems.com/>

From

[2017-02-15 15:01] ClaireReinken commented on #25
Q1. On cancelling how payment will be refunded? Through same mode of payment or Gift card? Will there be an email notification to consumer about this? - Via the same payment method. No confirmation email for the prototype.
 Q2. In how many days payment would be refunded? Will there be an email notification to consumer about this? - 1 says should be sufficient for the prototype
 Q3. If order status

[2017-02-15 15:27] ClaireReinken commented on #20
Questions:
1.No Name field in comparison? - Agreed, this field should be added.
2.Can a user remove items from comparison table? Yes, a user should be able to remove items from the comparison table.
3.What happens if the user tries to select a fifth item? Is there an error message? Yes

[2017-02-15 15:31] neelusingh28 commented on #25
User should able to cancel an order if order status is “Pending” - What does pending mean?
Claire responded - Pending indicates that the item has been ordered but the payment has not been confirmed. So they should still be able to cancel.
Since we're not shipping anything in the prototype, in a real world example, pending would indicate the item has not shipped.

[2017-02-15 15:39] ClaireReinken commented on #21
Questions:
1.What does the user click to open the item? The picture? The name? - The user should be able to click the more details button to see the expanded view of the item. The name and picture should also allow the user to open the item.
2.Are we displaying any additional add-ons in any way? Targeted for Sprint 2, not for Sprint 1. See Issue #31
3.What about product specs? For example, for PCs

[2017-02-15 15:41] ClaireReinken opened #69 "Authorized User Story 25 - Product Reviews"
As an authorized user, I should be able to review products.

Acceptance Criteria:

- User should only able to write review for a product only if the user ordered the product before

- User should able to rate the product (1-5 stars, 1 is lowest, 5 is highest), required

- User should able to write comments for the product, required

- Once submitted, review cannot be changed.

[2017-02-15 15:44] neelusingh28 commented on #25
Q6. If order status is confirmed/shipped/delivered - Will system give error message something like that this order cannot be cancelled since order status is confirmed/shipped/delivered?
Q7. Once cancelled successfully, system sent notification email to user’s email in order details - Will user receive the email in the inbox OR in order details section? I think order details section will only chang

[2017-02-15 15:55] ClaireReinken commented on #25
See below.

Claire Reinken, AM.PMP
Senior Proposal Manager

office   | 443.472.4613
fax       | 410.715.6538
email   |  claire.reinken@FEIsystems.com<mailto:claire.reinken@FEIsystems.com>
FEi Systems
9755 Patuxent Woods Drive, Suite 300 Columbia, MD 21046 |  www.FEIsystems.com<http://www.feisystems.com/>

From: Neelu Singh [mailto:notifications@github.com]
Sent: Wednesday, February 15, 2017 10:45

[2017-02-15 16:00] jtanus commented on #1
This was done by Terry

[2017-02-15 16:03] #1 closed, assigned to TerryBoswell, jtanus

[2017-02-15 16:07] llin-freeman commented on #63
Done when assembling team.

[2017-02-15 16:07] #63 closed, assigned to llin-freeman

[2017-02-15 16:17] tzhangfei commented on #37
Combined to Authorized User Story 23 - Search Order History Page

[2017-02-15 16:17] #37 closed, assigned to nobody

[2017-02-15 18:38] ClaireReinken commented on #18
Questions:
1.Are there any items that would be across multiple categories, like packages? If so, would they appear under all respective categories? - No such package is included in the Prototype A resources. An item should only be able to appear under one category at this time.
2.Are there any sub-categories? - Yes, the top tier should be Hardware, Software, Services and the user should be able to

[2017-02-15 18:54] ClaireReinken commented on #66
•Contact the appropriate privacy or legal officer of the department or agency to determine whether a System of Records Notice (SORN), Privacy Impact Assessment, or other review should be conducted
                   We deemed this requirement not relevant to this prototype.
•Determine, in consultation with a records officer, what data is collected and why, how it is used or shared, how it is store

[2017-02-15 18:56] ClaireReinken commented on #67
•Monitor system-level resource utilization in real time
MS Azure offers a variety of tools to monitor resource use in real-time (e.g., Azure Management Portal, CLI tool, PowerShell, and System Center).
•Monitor system performance in real-time (e.g. response time, latency, throughput, and error rates)
Application-level logging is used to monitor system performance metrics such as response time, thr

[2017-02-15 19:00] ClaireReinken commented on #51
•Ship a functioning “minimum viable product” (MVP) that solves a core user need as soon as possible, no longer than three months from the beginning of the project, using a “beta” or “test” period if needed
TBD
•Run usability tests frequently to see how well the service works and identify improvements that should be made
Early in the design process, we created rapid prototypes that demonstrated the

[2017-02-15 19:23] llin-freeman opened #70 "test"
test

[2017-02-15 19:24] #70 closed, assigned to nobody

[2017-02-15 19:45] ryan-chadwick-fei opened #71 "feature/vmm-integration docker container host provisioning"
As a devops engineer,
I want all steps of provisioning a docker container host in VMM 2016 to be scripted
so that adding compute to our internal hosting can be automated

[2017-02-15 19:49] neelusingh28 commented on #8
Q1. Once products and services are deleted by admin I'm expecting that when user will perform search for those items then system will display error message that these products or services are no more available?

Q2. Will there be any additional info too that we will notify you on your email once these products or services will be available?

[2017-02-15 19:49] ryan-chadwick-fei opened #72 "feature/containers mysql docker container"
As a devops engineer,
I want to build a MySQL Docker Container that is secure and includes base data
so that provisioning a database container for any environment is simplified

- random one time use root for set up
- service accounts
- table schema add/drop
- base data insertion
- automatic builds of docker container
- docker compose application stack

[2017-02-15 19:52] ryan-chadwick-fei opened #73 "feature/containers kestrel docker container"
As a devops engineer,
I want to build a Kestrel container for use with out .Net core web sites and web services
so that we can deploy builds quickly to docker container hosts

- automatic builds of code
- automatic builds of docker containter
- docker compose application stack

[2017-02-15 19:54] jennymnh commented on #31
Our understanding of the requirements is that we can label the options as "Recommended For You" when it is under a parent category, and can be labeled as "Accessories" when it is on its own department.

[2017-02-15 19:55] ClaireReinken commented on #14
Q1. Will there by drop down to choose product type? Yes
 Q2. Will there be check boxes to drill down the specific products? Yes

[2017-02-15 20:00] ClaireReinken commented on #31
Our understanding of the requirements is that we can label the options as "Recommended For You" when it is under a parent category, - Agree

and can be labeled as "Accessories" when it is on its own department. - I think any "child" item should retain the same category label provided in the Prototype A resources. For example: Standard Desktop Options Upgrades. Lisa is working on the data set now t

[2017-02-15 20:25] ryan-chadwick-fei opened #74 "Implement Docker Swarm"
As a devops engineer,
I want to implement a docker swarm of multiple docker container hosts
so that scaled hosting can be implemented based on monitoring

[2017-02-15 20:41] TerryBoswell commented on #4
The API design is complete. We are utilizing a restful WebAPI model documented via swagger

[2017-02-15 20:41] #4 closed, assigned to TerryBoswell

[2017-02-15 20:55] TerryBoswell commented on #28
API Calls are now built out. There is an authenticate method, create user method. There sql script to create the data is called CreateUserTable.txt. AdministratorFilter and AuthenticationFilter for securing api endpoints. The authentication filter is used for any endpoints that require authentication but does not require administrator access. The administratorfilter is used to secure api endpoints

[2017-02-15 21:23] ryan-chadwick-fei opened #75 "Implement a Monitoring and Alerting System"
as a devops engineer,
I want to build containers for application stack monitoring and alerting
so that elastic provisioning can be implemented for docker container hosts and docker containers

- persistent storage
- docker compose support stack

[2017-02-15 21:25] ryan-chadwick-fei opened #76 "feature/vmm-integration implement elastic docker swam of container hosts"
as a devops engineer,
I want to add reactive actions to monitoring to grow and shrink the docker swarm of container hosts
so that the hosting environment can respond to load

[2017-02-15 21:25] ClaireReinken commented on #24
I think tracking number should not be there at this point of time in the prototype.
 Product Name can also be added in the item list. Agreed. since we removed shipping, we should not have a field for tracking number. I will delete it from the user story.

[2017-02-15 21:29] ryan-chadwick-fei opened #77 "Implement Elastic Hosting Layer in Azure"
as a devops engineer,
I want to add reactive actions to monitoring to add and remove application docker containers
so that the application can respond to load

[2017-02-15 21:37] ryan-chadwick-fei opened #78 "Implement a Log Management System"
as a devops engineer,
I want to create docker containers for managing logs from all parts of the application stack
so that it can be fed into monitoring and alerting systems

- persistent storage
- docker compose support stack

[2017-02-15 21:46] ryan-chadwick-fei opened #79 "feature/containers Continuous Integration Tool"
as a devops engineer,
I want to create a docker container for our CI workflow tool
so that we can automate builds of code and docker containers

- persistent storage
- docker compose support stack
- pick tool: Jenkins, Jira, Teamcity....

[2017-02-16 01:19] jennymnh commented on #31
Just for clarification, top tier will not have the "Options" category?
It will be -

Software
Hardware
Services

[2017-02-16 01:31] ClaireReinken commented on #31
Correct

- Claire Reinken

On Feb 15, 2017, at 8:19 PM, Jenny Ho <notifications@github.com<mailto:notifications@github.com>> wrote:

Just for clarification, top tier will not have the "Options" category?
It will be -

Software
Hardware
Services

-
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/FEISystems/ca-adpq-prototype/

[2017-02-16 15:41] jennymnh commented on #31
To confirm, this is what the Hardware > Desktop section will look like.

![image](https://cloud.githubusercontent.com/assets/9370407/23028133/6f7486de-f434-11e6-86a7-626cedd3c479.png)

[2017-02-16 15:46] ClaireReinken commented on #31
Yes

[2017-02-16 15:58] llin-freeman commented on #64
We assembled the team after the RFI was released.

[2017-02-16 15:58] #64 closed, assigned to llin-freeman

[2017-02-16 16:05] neelusingh28 commented on #26
If no orders placed in past , I'm expecting system will display message something like "you have not placed any orders in past"?

[2017-02-16 16:07] tzhangfei commented on #26
If no orders placed in past , I'm expecting system will display message something like "you have not placed any orders in past"? **Yes**

[2017-02-16 16:07] ClaireReinken commented on #26
If no orders placed in past , I'm expecting system will display message something like "you have not placed any orders in past"? Yes

[2017-02-16 17:52] neelusingh28 commented on #7
Should we also add following two in above list?
UNSPSC Code
Product Name

[2017-02-16 18:20] neelusingh28 commented on #7
Can admin also modify catalog after publishing? will there be an edit option?

[2017-02-16 18:32] ClaireReinken commented on #7
Can admin also modify catalog after publishing? will there be an edit option? - Yes. They should be able to edit any item including the ability to delete it after its published

[2017-02-16 18:34] ClaireReinken commented on #7
Should we also add following two in above list?
 UNSPSC Code
 Product Name

[2017-02-16 18:35] ClaireReinken commented on #7
Should we also add following two in above list?
 UNSPSC Code - Yes, I updated the user story above
 Product Name - Yes, I updated the user story above.

[2017-02-16 18:46] jennymnh commented on #21
In terms of pictures, how are we going to procure them? Given how long the product list is it may be difficult and not the best use of time to find the exact pictures for every single item.

Should we do a few and show a "no image" placeholder image for the rest?

[2017-02-16 19:18] ClaireReinken commented on #21
In terms of pictures, how are we going to procure them? Given how long the product list is it may be difficult and not the best use of time to find the exact pictures for every single item. - For the purposes of the prototype, we will use one stock image for every second tier product category. For example, every laptop will show the same laptop image. Luis can provide the images.

Should we do a f

[2017-02-16 22:03] neelusingh28 commented on #43
Q1. Will it be available on the report menu?
Q2. Will it print PDF version?

[2017-02-16 22:09] ClaireReinken commented on #43
Q1. Will it be available on the report menu? - Yes
 Q2. Will it print PDF version? - Only if the user has a PDF driver

[2017-02-17 15:09] #53 closed, assigned to TerryBoswell

[2017-02-17 15:21] Mikewilburn302 commented on #31
Are these recommended upgrades being displayed via radio buttons or through some other means?

[2017-02-17 15:23] tzhangfei commented on #31
My thought:

[cid:image001.png@01D28907.E980E280]

Thanks
Ting

From: Mike Wilburn [mailto:notifications@github.com]
Sent: Friday, February 17, 2017 10:22 AM
To: FEISystems/ca-adpq-prototype <ca-adpq-prototype@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [FEISystems/ca-adpq-prototype] Authorized User Story 14 - Upgrade Options should Display if associated with a

[2017-02-17 15:26] ClaireReinken commented on #31
Are these recommended upgrades being displayed via radio buttons or through some other means? I envision them displayed below the parent item that would include the image, a view details button, the product name, and discounted price

[2017-02-17 17:45] Mikewilburn302 commented on #6
Where in the admin homepage are these alerts being displayed? Is there any alert text?

[2017-02-17 17:49] Mikewilburn302 commented on #6
"User receives an alert when a vendor contract's end date is equal to or greater than today"

By definition, the contract's end date will always be greater than the current date until it expires. This acceptance criteria would mean that the user receives an alert every single day the contract is active.

If this is then changed to "equal to or less than" at what point will the user stop receiving

[2017-02-17 17:49] #68 closed, assigned to TerryBoswell

[2017-02-17 18:10] lutech commented on #49
For the UI style guide, we are following the guidelines specified in the U.S. Web Design Standards specification found at https://standards.usa.gov/.

[2017-02-17 18:10] #49 closed, assigned to lutech, kcallander

[2017-02-17 18:34] lutech commented on #61
The following techniques and/or tools were used for the design process of the prototype:

- User Journey Map
- Visualization of app using Axure Prototyping Tool
- Hi-Fidelity UI Theme Mockups
- User Testing using Axure Prototype

[2017-02-17 18:34] #61 closed, assigned to lutech, jennymnh

[2017-02-17 18:35] lutech commented on #2
The initial UI architecture has been created.

[2017-02-17 18:35] #2 closed, assigned to lutech, jennymnh

[2017-02-17 18:50] Mikewilburn302 commented on #29
What about misspld wods?

[2017-02-17 19:04] ClaireReinken opened #80 "Dev Tasks - Authorized User Story 1 - Quick Search - Parent Issue #16"

[2017-02-17 19:05] ClaireReinken opened #81 "UI Tasks - Authorized User Story 1 - Quick Search - Parent Issue #16"
- [x] 1. [UX] Add UI component to the Axure site, including ability to view results
- [x] 2. [UX] Peer review by @lnajera, @lutech , @ClaireReinken
- [x]  3. [UI] Implement UI Behavior with sample data

[2017-02-17 19:12] ClaireReinken opened #82 "Dev Tasks - Authorized User Story 2 - Advanced Search - Parent Issue # 17"
- [x] task

[2017-02-17 19:13] ClaireReinken opened #83 "UI Tasks - Authorized User Story 2 - Advanced Search - Parent Issue # 17"
- [x] 1. Add UI component to the Axure site
- [x] 2. Peer review by @lnajera, @lutech , @ClaireReinken
- [ ]  3. [UI] Implement UI Behavior with sample data

[2017-02-17 19:15] ClaireReinken opened #84 "Dev Tasks - Authorized User Story 3 - Browse Inventory by Category - Parent Issue #18"

[2017-02-17 19:15] ClaireReinken opened #85 "UI Tasks - Authorized User Story 3 - Browse Inventory by Category - Parent Issue #18"
- [x] 1. Add UI component to the Axure site
- [x] 2. Peer review by @lnajera, @lutech , @ClaireReinken
- [x]  3. Add all pages as place holder for future dev work.
- [x]  4. [UI] Implement UI Behavior with sample data

[2017-02-17 19:25] ClaireReinken opened #86 "Dev Taks - Authorized User Story 4 - View Search Results - Parent Issue #19"

[2017-02-17 19:25] ClaireReinken opened #87 "UI Taks - Authorized User Story 4 - View Search Results - Parent Issue #19"
- [x] 1. Add UI component to the Axure site
- [x] 2. Peer review by @lnajera, @lutech , @ClaireReinken
- [x]  3. [UI] Implement UI Behavior with sample data

[2017-02-17 19:26] ClaireReinken opened #88 "Dev Tasks - Authorized User Story 5 - Compare Items - Parent Issue #20"

[2017-02-17 19:26] ClaireReinken opened #89 "UI Tasks - Authorized User Story 5 - Compare Items - Parent Issue #20"
- [x] 1. Add UI component to the Axure site
- [x] 2. Peer review by @lnajera, @lutech , @ClaireReinken
- [x]  3. [UI] Implement UI Behavior with sample data

[2017-02-17 19:27] ClaireReinken opened #90 "Dev Tasks - Authorized User Story 6 - Browse Item Details - Parent Issue #21"

[2017-02-17 19:27] ClaireReinken opened #91 "UI Tasks - Authorized User Story 6 - Browse Item Details - Parent Issue #21"
- [x] 1. Add UI component to the Axure site, including ability to view results
- [x] 2. Peer review by @lnajera, @lutech , @ClaireReinken
- [x]  3. [UI] Implement UI Behavior with sample data

[2017-02-17 19:28] ClaireReinken opened #92 "Dev Tasks - Authorized User Story 7 - Manage Shopping Cart - Parent Issue #22"

[2017-02-17 19:28] ClaireReinken opened #93 "UI Tasks - Authorized User Story 7 - Manage Shopping Cart - Parent Issue #22"
- [x] 1. Add UI component to the Axure site
- [x] 2. Peer review by @lnajera, @lutech , @ClaireReinken
- [x]  3. [UI] Implement UI Behavior with sample data

[2017-02-17 19:28] ClaireReinken opened #94 "Dev Tasks - Authorized User Story 8 - Place an Order - Parent Issue #23"

[2017-02-17 19:28] ClaireReinken opened #95 "UI Tasks - Dev Tasks - Authorized User Story 8 - Place an Order - Parent Issue #23"
- [x] 1. Add UI component to the Axure site
- [x] 2. Peer review by @lnajera, @lutech , @ClaireReinken
- [x]  3. [UI] Implement UI Behavior with sample data

[2017-02-17 19:29] ClaireReinken opened #96 "Dev Tasks - Authorized User Story 9 - View Order Details- Parent Issue #24"

[2017-02-17 19:30] ClaireReinken opened #97 "UI Tasks - Authorized User Story 9 - View Order Details- Parent Issue #24"
- [x] 1. Add UI component to the Axure site
- [x] 2. Peer review by @lnajera, @lutech , @ClaireReinken
- [x]  3. [UI] Implement UI Behavior with sample data

[2017-02-17 19:30] ClaireReinken opened #98 "Dev Tasks - Authorized User Story 10 - Cancel Order - Parent Issue #25"

[2017-02-17 19:31] ClaireReinken opened #99 "UI Tasks - Authorized User Story 10 - Cancel Order - Parent Issue #25"
- [x] 1. Add UI component to the Axure site
- [x] 2. Peer review by @lnajera, @lutech , @ClaireReinken
- [x]  3. [UI] Implement UI Behavior with sample data

[2017-02-17 19:32] ClaireReinken opened #100 "Dev Tasks - Authorized User Story 11 - View Order History - Parent Issue #26"

[2017-02-17 19:32] ClaireReinken opened #101 "UI Tasks - Authorized User Story 11 - View Order History - Parent Issue #26"
- [x] 1. Add UI component to the Axure site
- [x] 2. Peer review by @lnajera, @lutech , @ClaireReinken
- [x]  3. [UI] Implement UI Behavior with sample data

[2017-02-17 19:32] ClaireReinken opened #102 "Dev Tasks - Admin User Story 2 - Publish and Modify Catalog Items - Parent Issue #7"

[2017-02-17 19:32] ClaireReinken opened #103 "UI Tasks - Admin User Story 2 - Publish and Modify Catalog Items - Parent Issue #7"
- [ ] 1. Add UI component to the Axure site, including ability to view results
- [ ] 2. Peer review by @lnajera, @lutech , @ClaireReinken
- [x]  3. [UI] Implement UI Behavior with sample data

[2017-02-17 19:33] ClaireReinken opened #104 "Dev Tasks - Admin User Story 4 - Delete Products and Services from Catalog - Parent Issue #115"

[2017-02-17 19:33] ClaireReinken opened #105 "UI Tasks - Admin User Story 4 - Delete Products and Services from Catalog - Parent Issue #115"
- [ ] 1. Add UI component to the Axure site, including ability to view results
- [ ] 2. Peer review by @lnajera, @lutech , @ClaireReinken
- [ ]  3. [UI] Implement UI Behavior with sample data

[2017-02-17 19:34] ClaireReinken opened #106 "Dev Tasks - Admin User Story 9 - View Overall Order Statistics - Parent Issue #14"

[2017-02-17 19:34] ClaireReinken opened #107 "UI Tasks - Admin User Story 9 - View Overall Order Statistics - Parent Issue #14"
- [ ] 1. Add UI component to the Axure site, including ability to view results
- [ ] 2. Peer review by @lnajera, @lutech , @ClaireReinken
- [ ]  3. [UI] Implement UI Behavior with sample data

[2017-02-17 19:35] ClaireReinken opened #108 "Dev Tasks - Admin User Story 3 - Bulk Import Catalog Items - Parent Issue #27"

[2017-02-17 19:35] ClaireReinken opened #109 "UI Tasks - Admin User Story 3 - Bulk Import Catalog Items - Parent Issue #27"
- [x] 1. Add UI component to the Axure site
- [x] 2. Peer review by @lnajera, @lutech , @ClaireReinken
- [x]  3. [UI] Implement UI Behavior with sample data

[2017-02-17 19:37] ClaireReinken commented on #16
Further Dev and UI tasks are recorded in Issues #80 and #81

[2017-02-17 19:37] ClaireReinken commented on #17
Dev and UI tasks are included in Issues #82 and #83

[2017-02-17 19:38] ClaireReinken commented on #18
Dev and UI tasks are included in Issues #84 and #85

[2017-02-17 19:38] ClaireReinken commented on #19
Dev and UI tasks are included in Issues #86 and #87

[2017-02-17 19:39] ClaireReinken commented on #20
Dev and UI tasks are included in Issues #88 and #89

[2017-02-17 19:39] ClaireReinken commented on #21
Dev and UI tasks are included in Issues  #90 and #91

[2017-02-17 19:40] ClaireReinken commented on #22
Dev and UI tasks are included in Issues #94 and #95

[2017-02-17 19:40] ClaireReinken commented on #23
Dev and UI tasks are included in Issues #94 and #95

[2017-02-17 19:40] ClaireReinken commented on #24
Dev and UI tasks are included in Issues #96 and #97

[2017-02-17 19:41] ClaireReinken commented on #25
Dev and UI tasks are included in Issues  #98 and #99

[2017-02-17 19:42] ClaireReinken commented on #26
Dev and UI tasks are included in Issues #100 and #101

[2017-02-17 19:42] ClaireReinken commented on #7
Dev and UI tasks are included in Issues #102 and #103

[2017-02-17 19:43] ClaireReinken commented on #8
Dev and UI tasks are included in Issues @104 and #105

[2017-02-17 19:43] ClaireReinken commented on #14
Dev and UI tasks are included in Issues #106 and #107

[2017-02-17 19:43] ClaireReinken commented on #27
Dev and UI tasks are included in Issues #108 and #109

[2017-02-17 20:11] kcallander commented on #22
@ClaireReinken @lnajera @jennymnh - I am thinking about removing the checkboxes and the Remove Items button since we have remove already listed on the right hand side and seems redundant. Any opposition?

[2017-02-17 20:26] ClaireReinken commented on #6
"User receives an alert when a vendor contract's end date is equal to or greater than today"

By definition, the contract's end date will always be greater than the current date until it expires. This acceptance criteria would mean that the user receives an alert every single day the contract is active.

If this is then changed to "equal to or less than" at what point will the user stop receiving

[2017-02-17 20:27] ClaireReinken commented on #29
What about misspld words? - Yes

[2017-02-17 20:29] ClaireReinken commented on #22
@ClaireReinken @lnajera @jennymnh - I am thinking about removing the checkboxes and the Remove Items button since we have remove already listed on the right hand side and seems redundant. Any opposition? None here. I would rather have an "Update Cart" button to allow users to update quantities or remove an item if the quantity is changed to 0.

[2017-02-17 20:33] TerryBoswell commented on #28
I believe that you have a typeo
Username: AuthorizedUser1
Password: **AuthorizedU$er2**

[2017-02-17 20:56] #28 closed, assigned to TerryBoswell

[2017-02-17 21:13] neelusingh28 commented on #14
I'm assuming if incorrect product number or contract number entered in search box then system should display error message that "No results found. Please try another search."

[2017-02-17 21:43] davidatfei commented on #7
This is implemented and testable. However, the db schema is from early in the week. Some work still needs to be done to include changes that were made to the db schema this week.

[2017-02-17 21:44] davidatfei commented on #8
This feature is implemented and testable. Some UI styling still needs to occur.

[2017-02-17 21:46] davidatfei commented on #27
This feature has been implemented and is testable.  However, it was implemented using the db schema from early in the week.  Changes are required to include schema changes that were made during the week.

[2017-02-17 21:47] davidatfei commented on #108
This feature has been implemented and is testable. However, it was implemented using the db schema from early in the week. Changes are required to include schema changes that were made during the week.

[2017-02-17 21:49] davidatfei commented on #104
This feature is implemented and testable. Some UI styling still needs to occur.

[2017-02-17 21:49] davidatfei commented on #102
This is implemented and testable. However, the db schema is from early in the week. Some work still needs to be done to include changes that were made to the db schema this week.

[2017-02-17 21:51] davidatfei commented on #104
This is implemented and testable. However, the db schema is from early in the week. Some work still needs to be done to include changes that were made to the db schema this week.

[2017-02-17 22:54] lnajera commented on #22
Team,

We administered evaluation of the web app to 5 participants. Jenny collected notes and it turns out that the majority of users used the Checkbox and Delete button, over the small delete link.

So based on initial testing we should keep this feature and remove the delete link.

Jenny captured lots of notes and will compile them into an organized list over the weekend. Another next step will

[2017-02-18 00:05] ClaireReinken commented on #22
In response to the comment above, the users didn't have an opportunity to test updating quantities. So you are you proposing have an update cart button, remove items button, and a check out button? Isn't that a little busy? I've checked a few existing e commerce sites and none use checkmarks (they all use delete links). I feel that we should not keep the checkmarks because users can either click t

[2017-02-18 00:11] jennymnh commented on #22
We would not be keeping all three options. Most likely, the "remove items" button will be changed to "update cart" and the remove link will no longer exist. I will mock something up over the weekend for better clarification.

[2017-02-18 00:19] ClaireReinken commented on #22
Thank you. Please attach a screenshot of the new mock up to the story and we can provide any feedback as needed.

- Claire Reinken

On Feb 17, 2017, at 7:11 PM, Jenny Ho <notifications@github.com<mailto:notifications@github.com>> wrote:

We would not be keeping all three options. Most likely, the "remove items" button will be changed to "update cart" and the remove link will no longer exist. I wil

[2017-02-18 18:41] jennymnh commented on #22
Here is a mockup of the revised functionality.

![image](https://cloud.githubusercontent.com/assets/9370407/23095905/02aa684a-f5e0-11e6-96f2-4c2277eb6fd7.png)

The "Remove Selected" button has been changed to "Update Cart" and everything else stays the same. This way, a user can update the quantity of several items at one time by utilizing the checkboxes, and still remove items individually if the

[2017-02-18 20:26] ClaireReinken commented on #22
This looks great but I would still remove the checkboxes as I'm not sure they have a function now. Thanks.

- Claire Reinken

On Feb 18, 2017, at 1:41 PM, Jenny Ho <notifications@github.com<mailto:notifications@github.com>> wrote:

Here is a mockup of the revised functionality.

[image]<https://cloud.githubusercontent.com/assets/9370407/23095844/0e1bec86-f5df-11e6-8f9a-be6de214f44c.png>

The "Remo

[2017-02-18 23:25] jennymnh commented on #14
After I search by these filters (the acceptance criterias), what other type of information would show? I would need to know what types of fields go into an order/expenditure report so I could mock it up.

[2017-02-19 00:35] jennymnh commented on #7
What would go under the categories dropdown?
Software, Hardware, and Services? Or do we want to list every type of hardware/service (standard desktops/power desktops/value added services/etc)?

Also, is there any reason (maybe it's a typo?) that many of these items are sub items on the list?
![image](https://cloud.githubusercontent.com/assets/9370407/23098048/2807315e-f612-11e6-9ba4-fc4774c4758c.p

[2017-02-19 01:19] jennymnh commented on #7
Another question, is searching implied? How would an admin know which items are available to modify?

If a search page is implied, which filter fields would show up on the search page?

[2017-02-19 01:52] jennymnh commented on #103
These questions were originally added to the parent issue #14, reposting them here as well:

@tzhangfei

[2017-02-19 01:57] jennymnh commented on #107
Copied from parent issue

[2017-02-19 02:06] jennymnh commented on #103
Should there be an individual page for each product? If so, should all of this information be seen on it?

Example workflow:

1. Search for products
2. See a table of results
3. Be able to view details of each product item
4. On individual product item page, be able to edit/delete

[2017-02-19 03:35] ClaireReinken commented on #14
I'm assuming if incorrect product number or contract number entered in search box then system should display error message that "No results found. Please try another search." - Correct

[2017-02-19 03:38] ClaireReinken commented on #14
After I search by these filters (the acceptance criteria's), what other type of information would show? I would need to know what types of fields go into an order/expenditure report so I could mock it up. - The Q&As indicated that the reports could consist of the following: Examples include, but are not limited to, the following: total expenditures by quarter and fiscal year, expenditures by categ

[2017-02-19 03:39] ClaireReinken commented on #14
I believe this report should show over all sales with the ability to sort by contract, hardware, software, services, second tier categories of products (after first selecting a top tier like hardware), sales by quarter or fiscal year, or sales by department.

[2017-02-19 03:41] ClaireReinken commented on #7
Another question, is searching implied? How would an admin know which items are available to modify? - Good question. The admin should be able to search existing catalog items so they can be modified

If a search page is implied, which filter fields would show up on the search page? - All: "columns" in the data set provided by Lisa. For example, CLIN, Product name, product type, SKU, etc.

[2017-02-19 03:50] ClaireReinken commented on #103
These questions were originally added to the parent issue #14, reposting them here as well:

What would go under the categories dropdown?
 Software, Hardware, and Services? Or do we want to list every type of hardware/service (standard desktops/power desktops/value added services/etc)? - All types listed in the category column of the data set. We need to add "product type" to the acceptance criter

[2017-02-19 03:51] ClaireReinken commented on #103
Should there be an individual page for each product? If so, should all of this information be seen on it?

Example workflow:
1.Search for products
2.See a table of results
3.Be able to view details of each product item
4.On individual product item page, be able to edit/delete

Yes

[2017-02-19 03:54] ClaireReinken commented on #107
After I search by these filters (the acceptance criteria's), what other type of information would show? I would need to know what types of fields go into an order/expenditure report so I could mock it up. - The Q&As indicated that the reports could consist of the following: Examples include, but are not limited to, the following: total expenditures by quarter and fiscal year, expenditures by categ

[2017-02-20 00:29] jennymnh commented on #7
Thank you for your replies. I have a few other questions.

Based on the Prototype A Resources excel file sent by CA, I am not seeing some of these acceptance criteria fields in the excel document.

- Vendor/Supplier - Is this the same as contractor?
- Contract End Date (I see an effective date but no end date? Screenshot below)
![image](https://cloud.githubusercontent.com/assets/9370407/23108324/c

[2017-02-20 00:33] ClaireReinken commented on #7
See below

- Claire Reinken

On Feb 19, 2017, at 7:29 PM, Jenny Ho <notifications@github.com<mailto:notifications@github.com>> wrote:

Thank you for your replies. I have a few other questions.

Based on the Prototype A Resources excel file sent by CA, I am not seeing some of these acceptance criteria fields in the excel document.

  *   Vendor/Supplier - Is this the same as contractor? - correct

[2017-02-20 01:41] jennymnh commented on #107
Thank you. Another question -
The acceptance criteria lists "Product" as

•	View orders by product (specific product number)
•	View expenditures by product (specific product number)

What is this number? the SKU? OEM? (ironically these numbers are both the same)

And if they are, I propose we revise this to say "View orders/expenditures by SKU/OEM"

[2017-02-20 14:14] ClaireReinken commented on #107
Let's discuss in today's meeting. I have a slightly more detailed idea on how the reports should look.

[2017-02-20 14:14] llin-freeman commented on #103
I'll add the "expiration date" column to the dataset.

[2017-02-20 14:42] Mikewilburn302 commented on #8
Is there going to be a way to remove items in bulk? If a contract expires, the user will have to manually remove hundreds of items individually which is not particularly efficient.

[2017-02-20 15:10] ClaireReinken commented on #8
Is there going to be a way to remove items in bulk? If a contract expires, the user will have to manually remove hundreds of items individually which is not particularly efficient. - Yes, in a way. The admin will be able to check multiple items to delete though. Stand by for a revised user story later today.

[2017-02-20 16:53] neelusingh28 commented on #40
Q1. Will search display results as per the user story mentioned above or as per the mock up?

![image](https://cloud.githubusercontent.com/assets/25771656/23134521/1ca59dc6-f763-11e6-8171-c8e9e5fb494b.png)

http://ulckoo.axshare.com/#g=1&p=order_history

[2017-02-20 16:54] ClaireReinken commented on #40
Per the mock up is fine because it will search across all data in the order history table.

[2017-02-20 16:56] neelusingh28 commented on #40
Q2. if search results no results I'm expecting that there would be an appropriate message?
Q3. can it be searched only through keyword? or with product title, OEM? item # etc?

[2017-02-20 16:57] jennymnh commented on #40
The mockup is actually outdated and does not reflect the information in the user story. I can update it to reflect that.

Claire, I know you said it is fine but I think it would probably be better to have a consistent search throughout the application (since every other page has search with many options). Let me know what you think.

[2017-02-20 17:00] ClaireReinken commented on #40
The mockup is actually outdated and does not reflect the information in the user story. I can update it to reflect that.

Claire, I know you said it is fine but I think it would probably be better to have a consistent search throughout the application (since every other page has search with many options). Let me know what you think.
 - Sounds good to me. Note this is currently targeted for a futur

[2017-02-20 17:12] ClaireReinken commented on #23
For the purposes of this prototype, we will not manage adding payment information at this time. Four different departmental accounts will be added as a payment method and the authorized user can select from one of the four accounts.

[2017-02-20 17:13] ClaireReinken commented on #23
Lisa, can you please provide the names of the four departments that will be associated with each payment account?

[2017-02-20 17:31] JXPrime commented on #16
@ClaireReinken can you address the questions @Mikewilburn302 posted above:

Questions:

When searching by multiple keywords, is the system looking for results that have one or another, or does the system only look for products that have all?
Is there a limit to how many characters can be accepted in the search bar?
Is there a limit to how many keywords may be searched?

[2017-02-20 18:10] llin-freeman commented on #30
Added new column to the  data--"product title"--with shortened name.

[2017-02-20 18:10] #30 closed, assigned to llin-freeman

[2017-02-20 19:43] llin-freeman commented on #23
Let's go with:
1-California Department of General Services
2- California Department of Technology
2-California Department of Health and Human Services
3-California Department of Education

[2017-02-20 20:30] ClaireReinken commented on #16
When searching by multiple keywords, is the system looking for results that have one or another, or does the system only look for products that have all? one or another
 Is there a limit to how many characters can be accepted in the search bar? 25 characters
 Is there a limit to how many keywords may be searched? No

[2017-02-20 20:53] ClaireReinken opened #110 "Dummy Data Needed for Historical Reports"

[2017-02-21 07:36] #85 closed, assigned to lutech

[2017-02-21 16:55] davidatfei commented on #108
This feature is working and is current as of the v5 version of the sample spreadsheet data.

[2017-02-21 16:58] davidatfei commented on #102
Updated db schema to match v5 of spreadsheet. Added rudimentary paging to table. Still need to add filter.

[2017-02-21 18:30] Mikewilburn302 commented on #27
Is there any check in case an admin uploads the same file twice? How do we prevent duplicate items?

[2017-02-21 18:45] ClaireReinken commented on #27
Is there any check in case an admin uploads the same file twice? How do we prevent duplicate items? - Yes, we will use the CLIN number and contract number to identify a catalog item as an unique item. When a user attempts to upload duplicate items, an error will appear to the user, "X number of items successfully uploaded, X items failed to upload because they are already in the catalog." Or simil

[2017-02-21 19:45] JXPrime commented on #17
@ClaireReinken to clarify, these would be considered an "AND" search, where the quick search is an "OR" search? ie, if I put in both a category and a minimum price, it will only show products that meet both criteria, correct?

[2017-02-21 19:59] ClaireReinken commented on #17
Correct. Also, the user can select enter search parameters associated with different fields, like a SKU, contract number, etc.

[2017-02-21 20:06] ClaireReinken commented on #94
Please ensure the "payment method" label is changed to "payment account" Thanks.

[2017-02-21 20:17] ClaireReinken commented on #95
Please ensure the "payment method" label is changed to "payment account" Thanks.

[2017-02-21 20:19] ClaireReinken commented on #21
We will not show the discount percentage or the list price, only the Discount Price, when viewing the item details. While this information will still be entered by the admin user, we feel only the final price is useful to the authorized user and will prevent confusion.

[2017-02-21 21:15] cbgordon opened #111 "Admin User Story 12 - Expenditures Over a Period of Time Report"
As an administrator, I want to see a reports that allows me to view expenditures over a period of time, so I can be aware of order expenditure history within a specified date range

Acceptance Criteria:
• Arrive at Reports Dashboard as an Administrator
• See an "Expenditures Over a Period of Time" panel
 - Preview displays a preview of the report as a table (see preview below) for the current fisc

[2017-02-21 21:28] cbgordon opened #112 "Admin User Story 13 - Expenditures by Product Type Report"
As an administrator, I want to see a report that allows me to view expenditures broken up by product type, so I can be aware of expenditure by hardware, software and services

Acceptance Criteria:
• Arrive at Reports Dashboard as an Administrator
• See an "Expenditures by Product Type" panel
     - Preview of report displays in panel that shows a pie chart breaking down the total expenditures by H

[2017-02-21 21:30] cbgordon opened #113 "Admin User Story 14 - Expenditures by Vendor Report"
As an administrator, I want to see a report that allows me to view expenditures broken up by vendor so I can be aware of the amount of money spent for each vendor in the system

Acceptance Criteria:
• Arrive at Reports Dashboard as an Administrator
• See an "Expenditures by Product Type" panel
     - Panel displays a preview of a bar chart which several vendors with three bars per vendor (differen

[2017-02-21 21:46] cbgordon opened #114 "Admin User Story 15 - TRENDS: Purchases by Department"
As an administrator, I want to see a report that allows me to view order totals by department (account) over a fiscal quarter so I can be aware of the amount of money spent by each department

Acceptance Criteria:
• Arrive at Reports Dashboard as an Administrator
• See a "TRENDS: Purchases by Department" panel
- Panel displays a preview of a line chart with each line representing a different depar

[2017-02-22 04:23] cbgordon opened #115 "Admin User Story 16 - Edit/Delete Items in a Catalog"
As an administrator, I want to be edit and delete existing products and services provided by state contracted vendors from the catalog so consumers can order items from an accurate catalog

Acceptance Criteria:
• User can access the catalog list
- User can search the list which will limit the values displayed
• User can edit and of the following data points of an item:
•CLIN [text field]
•UNPSC Co

[2017-02-22 13:28] davidatfei commented on #102
Added filtering and sorting of items.

[2017-02-22 13:31] davidatfei commented on #104
Tested and working after modifications following the schema changes.

[2017-02-22 14:01] ClaireReinken opened #116 "Stock Images Needed for Hardware, Software, and Services"
We need various stock images to be added to the data set spreadsheet so that images display in the prototype. Please use 3 different laptops and vary for all laptops, same with desktops ,and other items.

[2017-02-22 14:02] ClaireReinken opened #117 "Homepage Logo and Text"
We need to replace the ABC logo as well as add some introduction text to welcome users that will appear above the "Featured Items" text.

[2017-02-22 14:16] ClaireReinken commented on #27
The Admin user would have to enter the product image column information. We’ll have instructions on the import page that indicates to show product images, this column need to contain a path to the image in their repository.

[2017-02-22 14:38] ClaireReinken commented on #8
Duplicate to Issue #115

[2017-02-22 14:39] #8 closed, assigned to davidatfei

[2017-02-22 14:41] ClaireReinken commented on #115
Dev and UI tasks for this issue are documented in #104 and #105

[2017-02-22 14:58] lutech commented on #7
@ClaireReinken - I spoke to Dave on how to handle uploading images. Since the customer doesn't have a column for images in their data set, I think we should allow them to do a separate bulk import of images (like a whole folder). Then, the user will have to edit each product and choose what image to associate from a drop down (options will be driven by images that are uploaded - which should be li

[2017-02-22 15:08] ClaireReinken commented on #7
@lutech  and @davidatfei Let's write instructions for the admin user that indicates to bulk import images in this feature, they need to add a column to their data set, named "x" and add the name of the image file. If they can't include this information, then they can go back and edit each item and browse for an image. Agree images should be limited to .JPG or .PNG.

[2017-02-22 17:21] neelusingh28 commented on #115
User can search the list which will limit the values displayed - What does this mean? Which values will display in search results ? Will it be different from the above list?

[2017-02-22 18:07] ClaireReinken commented on #115
User can search the list which will limit the values displayed - What does this mean? Which values will display in search results ? Will it be different from the above list? - This means the user will first see a table with the entire product catalog and they will be able to search for an item that will reduce the results displayed in the catalog table.

[2017-02-22 18:46] Mikewilburn302 commented on #111
Is there any input or filters?

Are the columns sortable?

[2017-02-22 18:48] ClaireReinken commented on #111
Is there any input or filters? - The user should be able to enter a start and end date for the report

Are the columns sortable? - Ideally, this report should be in Excel or CSV so the user can sort columns as needed.

[2017-02-22 18:49] Mikewilburn302 commented on #111
Does this mean that the report auto-exports? It is not visible within the application?

[2017-02-22 18:51] ClaireReinken commented on #111
Does this mean that the report auto-exports? It is not visible within the application? - This report should be visible in the applicable with the ability to export the data to a .CSV or excel for further use.

[2017-02-22 18:52] Mikewilburn302 commented on #111
So if the report is visible within the application, how is sorting being done? Or can it only be sorted once exported to Excel?

[2017-02-22 18:54] ClaireReinken commented on #111
So if the report is visible within the application, how is sorting being done? Or can it only be sorted once exported to Excel? Sorting only done in Excel

[2017-02-22 19:04] neelusingh28 commented on #117
Q1. Can we know how the logo will look like now?
Q2. Can we know the text content to validate?
Q3. Will clicking on logo bring the user back to the homepage?

[2017-02-22 19:38] llin-freeman commented on #117
Hi Neelu, I'm working on the text--should have something tomorrow.  Re: Logo, no image yet.  Yes, clicking on the logo should bring them back to the homepage. Thanks!

[2017-02-22 19:41] ClaireReinken commented on #25
The authorized user should be able to cancel an order when it's between pending and confirmed. The order history should then confirmed it's cancelled. I think we should wait 10 minutes for the order to change from pending to confirmed.

[2017-02-22 19:45] ClaireReinken commented on #23
For the purposes of this prototype, we will not calculate sales tax.

[2017-02-22 20:06] llin-freeman commented on #42
The FAQ will be renamed "Contact Us" . No need for "FAQ" or "About Us" pages.

[2017-02-22 20:44] Mikewilburn302 commented on #112
"Clicking on each section of the pie (Hardware, Software, Services)" - clicking on it does what exactly?

[2017-02-22 20:50] ClaireReinken commented on #112
"Clicking on each section of the pie (Hardware, Software, Services)" - clicking on it does what exactly? - My type. Originally, I wanted to be able to drill-down on the product categories, but there are over 180 categories for hardware so that's not feasible. Clicking on each item will do nothing. I will update the acceptance criteria.

[2017-02-23 14:22] kcallander opened #118 "508 Testing"
508 testing with wave tool

[2017-02-23 15:16] ClaireReinken commented on #83
Re-opening for QA

[2017-02-23 15:38] ClaireReinken commented on #91
Reopening for QC

[2017-02-23 15:46] llin-freeman commented on #117
Here are the logos for the page.  Emailed UI team for incorporation.
![ca dgs logo](https://cloud.githubusercontent.com/assets/22507715/23266287/61930726-f9b5-11e6-8e43-bd9df642e93e.png)
![ca dot logo](https://cloud.githubusercontent.com/assets/22507715/23266291/65ab5322-f9b5-11e6-8ae5-8fbcee6c793f.png)

[2017-02-23 15:54] TerryBoswell commented on #92
We completed the Server APIs for this task. This includes a clear cart, add item to cart, update item from cart, and delete item from cart

[2017-02-23 15:59] ClaireReinken commented on #92
Only the parent card will remain open for QC. Closing dev tasks.

[2017-02-23 15:59] #92 closed, assigned to TerryBoswell

[2017-02-23 16:00] ClaireReinken commented on #83
Closing. The parent card will be moved to QC doing on the board.

[2017-02-23 16:00] #83 closed, assigned to lutech

[2017-02-23 16:02] ClaireReinken commented on #91
Only the parent card will move to QC Doing on the board. Closing.

[2017-02-23 16:02] #91 closed, assigned to lutech

[2017-02-23 16:02] ClaireReinken commented on #95
Only the parent card will move to QC Doing on the board. Closing.

[2017-02-23 16:02] #95 closed, assigned to jennymnh

[2017-02-23 16:02] ClaireReinken commented on #93
Only the parent card will move to QC Doing on the board. Closing.

[2017-02-23 16:02] #93 closed, assigned to jennymnh

[2017-02-23 16:03] ClaireReinken commented on #89
Only the parent card will move to QC Doing on the board. Closing.

[2017-02-23 16:03] #89 closed, assigned to jennymnh

[2017-02-23 16:08] neelusingh28 opened #119 "Drop down menu freezes when clicked"
Once user clicks on Hardware or Services and then on any sub menu item then screen freezes there unless user goes back and click again on Hardware or Services. You may know it already but just wanted to pass across.

![image](https://cloud.githubusercontent.com/assets/25771656/23267377/97211e70-f9b8-11e6-9c37-f804927da320.png)

[2017-02-23 16:21] kcallander opened #120 "508 Testing - Log in Module"
Log in module is producing an error on the User Name form label

[2017-02-23 16:25] JXPrime commented on #86
This story was handled by the individual search stories.

[2017-02-23 16:33] kcallander opened #121 "508 Testing - Admin Product Management page"
Pulling up 37 errors (minus the log in page error) - Missing form labels

[2017-02-23 16:34] kcallander opened #122 "508 testing - Compare list"
1 empty table on compare list page: http://ca-adpq-docker1.fei.local:5000/#/compare

[2017-02-23 16:37] kcallander opened #123 "508 testing - My Account page"
1 empty table header on My Account page: http://ca-adpq-docker1.fei.local:5000/#/user/myaccount

[2017-02-23 16:43] Mikewilburn302 commented on #20
Bug details

1) Cannot remove items. When clicking remove, compare list is closed. If it is reopened, the removed item is still present. It should simply remove the item without closing the compare list

2) Add fields: SKU, OEM, Item Name, Category

3) Remove fields: MSRP and Discount percentage

Impediment

1) Need more than 4 items in inventory to validate no more than four items can be added to

[2017-02-23 16:47] Mikewilburn302 commented on #18
Need items in all 3 categories to test

[2017-02-23 16:54] Mikewilburn302 commented on #23
Bug Details:
1) Why is address one line? Are we not doing Address 1, Address 2, City, State, Zip?

2) Clicking "Continue" does nothing

3) Clicking "Back to Cart" does nothing

[2017-02-23 16:59] jennymnh commented on #117
Ended up adding the DGS logo, because the other one didn't seem to fit in with the theme
![image](https://cloud.githubusercontent.com/assets/9370407/23269738/883d69f2-f9bf-11e6-92e5-0045acf15162.png)

one I didn't use -
![image](https://cloud.githubusercontent.com/assets/9370407/23269634/39ef81e0-f9bf-11e6-9a90-a1c2a2c01191.png)

[2017-02-23 17:17] neelusingh28 commented on #22
**Bug Details:**

1. Once item added to cart then Cart button on top does not display any #
2. I don't think we need update cart button since we have drop down with maximum 6 quantities and price is changing on changing qty

[2017-02-23 17:29] jennymnh commented on #120
This was fixed along with #121. Moving this to ready.

[2017-02-23 17:44] neelusingh28 commented on #21
Bug Details:

1. Pictures are still NOT available. So cannot test enlarge picture either.
2. CLIN, Contractor, Contractor# and Contract Expiration Date has been added additionally. Is that expected?
3. Contract Expiration Date: 2017-06-10T00:00:00 displaying like this, I guess time stamp not needed

[2017-02-23 19:12] neelusingh28 commented on #17
**Bug Details:**

1. None of the field is working in advance search. No results returned.
2. Clear button does not clear if any value selected in Price
3. Looks like Keyword field is renamed to Product Name? Is that expected?
4. Availability field is no more there? Is that expected?
5. As per data set spreadsheet Manufacturer drop down should have 6 line items but it displays only 2.
6. Category d

[2017-02-23 19:18] jennymnh commented on #119
@neelusingh28 , this is ready for testing once the site gets updated.

[2017-02-23 20:59] neelusingh28 opened #124 "Inventory is NOT displaying as per the data set spreadsheet"
For an example: If I filter on product type as hardware then under category desktop - We get 82 results but website displaying only 9 results.

Similarly power desktops are displaying only 3 however there are 5 in spreadsheet

Similarly Mobile Workstations is displaying only 1 however there are 4 in spreadsheet

[2017-02-24 04:51] lutech commented on #23
@JXPrime  @ClaireReinken , I know we discussed what we should be capturing for orders today, just want to confirm if Departments and Phone Number are still part of the requirements. Currently I have it in the UI but I don't think the back end supports them.

[2017-02-24 13:21] ClaireReinken commented on #23
Let's keep the phone number but we won't store it. We can remove the department because that will be associated at payment.

- Claire Reinken

On Feb 23, 2017, at 11:52 PM, lutech <notifications@github.com<mailto:notifications@github.com>> wrote:

@JXPrime<https://github.com/JXPrime> @ClaireReinken<https://github.com/ClaireReinken> , I know we discussed what we should be capturing for orders today

[2017-02-24 13:43] jennymnh commented on #22
When I was mocking up the application page with dummy data, I added a random quantity amount to the dropdown (6), should it still be kept that way? Or should we change it to a text box so users can enter however many?

[2017-02-24 14:22] ClaireReinken commented on #22
When I was mocking up the application page with dummy data, I added a random quantity amount to the dropdown (6), should it still be kept that way? Or should we change it to a text box so users can enter however many? - I would change this to a text box. They might be placing large orders.

[2017-02-24 14:24] ryan-chadwick-fei commented on #72
qc server container added and available internally

[2017-02-24 14:27] ryan-chadwick-fei commented on #79
decided on using cloud based CI tools instead of internal containers
AppVeyor Build and Docker Hub Build are free for open source public projects
Will open new issues for these

[2017-02-24 14:29] ryan-chadwick-fei commented on #54
Acquired Azure resources from IT
will proceed with migrating to Azure in Sprint 3
Will leave existing internal QC servers operating along side

[2017-02-24 14:31] ryan-chadwick-fei commented on #3
I'll be breaking this one down into child issues

Process goes a little something like this:

1.	AppVeyor project gets linked to the GitHub project via one of their sweet web hooks
2.	GitHub sends information on each push over the web hook to AppVeyor
a.	This gets limited to specific branches (in our case Dev and stable/web/b)
3.	This triggers AppVeyor to clone that branch from your repository
a.

[2017-02-24 14:32] ryan-chadwick-fei opened #125 "Build CI/CD Environment - Automatic Builds of latest code using AppVeyor"
automatic code builds for development branch 'Dev'

drops completed build in 'latest/web/r'

parent issue is [Build CI/CD environment](https://github.com/FEISystems/ca-adpq-prototype/issues/3)

[2017-02-24 14:34] ryan-chadwick-fei opened #126 "Build CI/CD Environment - Automatic Builds of stable code using AppVeyor"
automatic builds of code in 'stable/web/b' branch

drops completed build in 'stable/web/r'

parent issue is [Build CI/CD environment](https://github.com/FEISystems/ca-adpq-prototype/issues/3)

[2017-02-24 14:39] ryan-chadwick-fei opened #127 "Build CI/CD Environment - Automatic Builds of :stable Docker Image using Docker Hub"
Automatic builds of Docker image for 'stable/web/r'

adds image to repository  [feidevops/ca_adpq_proto](https://hub.docker.com/r/feidevops/ca_adpq_proto/) tagged :stable

parent issue is [Build CI/CD environment](https://github.com/FEISystems/ca-adpq-prototype/issues/3)

[2017-02-24 14:40] ryan-chadwick-fei opened #128 "Build CI/CD Environment - Automatic Builds of :latest Docker Image using Docker Hub"
Automatic builds of Docker image for 'latest/web/r'

adds image to repository  [feidevops/ca_adpq_proto](https://hub.docker.com/r/feidevops/ca_adpq_proto/) tagged :latest

parent issue is [Build CI/CD environment](https://github.com/FEISystems/ca-adpq-prototype/issues/3)

[2017-02-24 14:43] ryan-chadwick-fei opened #129 "Build CI/CD environment - Automatic Deployment of Docker Images"
utilizes [centurylink/watchtower](https://hub.docker.com/r/centurylink/watchtower/) to automatically
stop, update, and start Docker images after they are updated in a Docker Hub repository

parent issue is [Build CI/CD environment](https://github.com/FEISystems/ca-adpq-prototype/issues/3)

[2017-02-24 14:45] #129 closed, assigned to ryan-chadwick-fei

[2017-02-24 14:45] #128 closed, assigned to ryan-chadwick-fei

[2017-02-24 14:45] #127 closed, assigned to ryan-chadwick-fei

[2017-02-24 14:45] #126 closed, assigned to ryan-chadwick-fei

[2017-02-24 14:45] #125 closed, assigned to ryan-chadwick-fei

[2017-02-24 14:46] ClaireReinken opened #130 "Remove "ABC Store Contact Center with phone number and email address from home page"
This information is redundant with the "Contact Information" link under Contact Us.

[2017-02-24 14:46] #79 closed, assigned to ryan-chadwick-fei

[2017-02-24 14:46] #72 closed, assigned to ryan-chadwick-fei

[2017-02-24 14:46] #71 closed, assigned to ryan-chadwick-fei

[2017-02-24 14:47] #57 closed, assigned to ryan-chadwick-fei

[2017-02-24 14:47] ClaireReinken opened #131 "Account Information Home Page Links"
I think the "Track and Manager Orders" link on the home page should be removed with the order history and tracking all located within My Account. I would not expect these items to be two separate links.

[2017-02-24 14:47] #3 closed, assigned to ryan-chadwick-fei

[2017-02-24 14:47] #73 closed, assigned to ryan-chadwick-fei

[2017-02-24 14:48] #86 closed, assigned to nobody

[2017-02-24 14:48] ClaireReinken opened #132 "Home Page Stock Art Needs to Be Revised"
The current images of generic products imply that we have sales and seem to be directed towards a more generic consumer rather than a government buyer. Can we replace these items with stock art of IT workers, people working on computers, people pulling stock from warehouses.

[2017-02-24 14:48] #98 closed, assigned to JXPrime

[2017-02-24 14:48] #94 closed, assigned to JXPrime

[2017-02-24 14:48] #96 closed, assigned to JXPrime

[2017-02-24 14:48] #90 closed, assigned to nobody

[2017-02-24 14:48] #88 closed, assigned to JXPrime

[2017-02-24 14:48] #100 closed, assigned to JXPrime

[2017-02-24 14:48] #84 closed, assigned to JXPrime

[2017-02-24 14:49] #109 closed, assigned to lutech

[2017-02-24 14:49] #80 closed, assigned to JXPrime

[2017-02-24 14:49] #82 closed, assigned to JXPrime

[2017-02-24 14:49] #105 closed, assigned to jennymnh

[2017-02-24 14:49] ClaireReinken opened #133 "About Us, Help Desk, and FAQ Link on Home Page Should Be Removed"
Please Keep Contact Us | Contact Information. Lisa will provide text for this link.

[2017-02-24 14:49] #103 closed, assigned to jennymnh

[2017-02-24 14:49] #81 closed, assigned to lutech

[2017-02-24 14:50] #87 closed, assigned to lutech

[2017-02-24 14:50] ClaireReinken opened #134 "If I am logged in as an authorized user, why can I access the Admin link and tools?"
This link should be hidden from authorized users.

[2017-02-24 14:55] ClaireReinken opened #135 "Compare List"
- [ ] Do you think it's obvious to the user that they need to click the compare list button at the top of the home page to compare items?
- [ ] Can we make this a sticky header?
- [ ] Can we also have a prop up when the user first check a compare item that explains how to use the feature (select up to 4 items and click the compare list)?
- [ ] Can we change the compare List link to an icon that sh

[2017-02-24 14:57] ClaireReinken opened #136 "Can we add a few images in Software and Services?"
I do not see any at this time.

[2017-02-24 15:02] neelusingh28 commented on #119
This issue is resolved tested on both 5000 & 5001.

[2017-02-24 15:02] #119 closed, assigned to neelusingh28

[2017-02-24 15:03] ClaireReinken commented on #21
1.Pictures are still NOT available. So cannot test enlarge picture either. - Pictures should be added now.
2.CLIN, Contractor, Contractor# and Contract Expiration Date has been added additionally. Is that expected? - That's fine, let's keep it.
3.Contract Expiration Date: 2017-06-10T00:00:00 displaying like this, I guess time stamp not needed - Time stamp is not needed. This should be a bug.

[2017-02-24 15:05] ClaireReinken commented on #22
2.I don't think we need update cart button since we have drop down with maximum 6 quantities and price is changing on changing qty - Jenny is changing to a text box since I believe they will need to add more than 6 items for large orders.

[2017-02-24 15:08] ryan-chadwick-fei commented on #76
closing this as unnecessary
will be implementing this in Azure instead of locally in our VMM infrastructure

[2017-02-24 15:08] #76 closed, assigned to ryan-chadwick-fei

[2017-02-24 15:11] ryan-chadwick-fei opened #137 "Implement Elastic Application Layer in Docker Swarm"
automatically spinning up and down web containers as load increases and decreases

[2017-02-24 15:12] ClaireReinken commented on #17
Bug Details:
1.None of the field is working in advance search. No results returned.
2.Clear button does not clear if any value selected in Price
3.Looks like Keyword field is renamed to Product Name? Is that expected? - Yes, I discussed with dev. This is expected behavior
4.Availability field is no more there? Is that expected? - Yes, we will assume all items are in stock for the purposes of the p

[2017-02-24 15:12] ryan-chadwick-fei commented on #77
going to use Ubuntu 16.10 as base VM

[2017-02-24 15:17] ryan-chadwick-fei commented on #56
This is baked into the automatic builds.  'dotnet test' is run on the x-unit framework when the build is run.

This executes all the unit tests that have been written in the ca_proto_tests project.

[2017-02-24 15:17] #56 closed, assigned to ryan-chadwick-fei

[2017-02-24 15:28] ryan-chadwick-fei commented on #58
this is parent issue to
[Implement a Log Management System #78](https://github.com/FEISystems/ca-adpq-prototype/issues/78)
and
[Implement a Monitoring and Alerting System #75](https://github.com/FEISystems/ca-adpq-prototype/issues/75)

[2017-02-24 15:30] ryan-chadwick-fei commented on #54
This is a parent issue to
[Implement Elastic Hosting Layer in Azure #77](https://github.com/FEISystems/ca-adpq-prototype/issues/77)
[Implement Elastic Application Layer in Docker Swarm #137](https://github.com/FEISystems/ca-adpq-prototype/issues/137)
[Implement Docker Swarm #74](https://github.com/FEISystems/ca-adpq-prototype/issues/74)

[2017-02-24 15:51] ryan-chadwick-fei opened #138 "Automate Builds of MySQL Docker Image with base config"
random root password for one time use at setup
creation of basic 'ca' database - tables and base data
creation of user other than root to access 'ca'

[2017-02-24 16:18] JXPrime commented on #23
@lutech I missed phone number when I was adding the other address fields...also the intent for the State field was for it to be a dropdown, but I don't think there is a lookup for that yet.

[2017-02-24 16:38] lutech commented on #23
@JXPrime  Thanks. I omitted phone number and department for now. Also, no need for state lookups. I made the change on the front end, its now a drop down. Latest check-ins should reflect this.

[2017-02-24 17:16] ryan-chadwick-fei opened #139 "Update ca-adpq-prototype/devops/DEVOPS_README.md"
Address all checklist points and key questions for Digital Service Plays 10, 11, and 12 (where it relates to monitoring).

Add links to Issues - outline solution in issue directly.

[2017-02-24 17:59] ryan-chadwick-fei commented on #65
Im taking this one - need to run it through IT CCB - needs DNS and Firewall
need to add configuration for SSL
certificate and domain/sub-domain - most likely going to use ca-adpq-prototype@feisystems.com

[2017-02-24 18:28] cbgordon opened #140 "Authorized User Story 12 - Paging when browsing products"
As an authorized user, I want to be able to navigate through multiple pages of products so I can easily view and track my where I am in my search results.

Acceptance Criteria:
- When browsing products (either through search or by category), and there are many results:
- Total number of pages is displayed
- Page number that the user is currently on is displayed
- User can move forward one page if

[2017-02-24 19:25] jennymnh commented on #22
- [ ] Quantity needs to be a textbox
- [ ] Add total cost to the bottom of the page
- [ ] Remove help information
- [ ] Add total cost of each item

[2017-02-24 19:42] llin-freeman opened #141 "Required fields for entering items to catalog"
When entering or importing items to the catalog, please make the UNSPSC field not a required field.

[2017-02-24 19:50] ClaireReinken opened #142 "Discount % and MSRP should be added to all Product Details pages"
Currently, these fields do not display.

[2017-02-24 19:51] ClaireReinken opened #143 ""TM" symbol from the data set is displaying as a question mark"
Remove TM symbols from the data set

[2017-02-24 19:53] ClaireReinken opened #144 "Clean up Admin Landing Page"
Remove Test Links text

Delete all links except Inventory and Reports

Change Inventory to "Add, Edit, and Delete Items from the Catalog"

Add an image to the right side

Add text explaining functionality - Lisa will provide

[2017-02-24 19:54] ClaireReinken opened #145 "Top Bar Needs to be Smaller"
There's a lot of space between the DGS logo

[2017-02-24 19:55] ClaireReinken opened #146 "Confirmation Pop Ups Needed for When User Adds Item to Compare and Cart"
When a user adds an item to the compare list or cart, a confirmation pop up should display stating the item as been added to the Confirmation List or Cart.

Also, can the cart be changed to an icon that shows the number of items in the cart graphically?

[2017-02-24 19:58] ClaireReinken opened #147 "Order History Page Clean Up"
Remove number of items . Please display information in a similar way as orders are displaying in "My Account".

Include Order Number

Status currently shows as "0"; this needs to be changed to Pending OR Confirmed

[2017-02-24 20:01] ClaireReinken opened #148 "Services Data - Brand Column"
When using the compare button, some of the services seem to be showing incorrect brand data and perhaps this should be mostly N/A for services.

[2017-02-24 20:03] ClaireReinken opened #149 "Cart Page Clean Up"
The cart is not currently displaying the unit price so it looks like when you order 5 items, the price that displays is for 1 item vs. 5.

When the quantity selection is changed from a drop-down to a text field, the price should not update until the user clicks Update Cart.

Remove the text box at the bottom of the page that contains help/call us info

[2017-02-24 20:05] ClaireReinken opened #150 "Order Summary Page Clean Up"
- [x] Order Summary needs to show the unit price with subtotal and total for the entire order.
- [x] Need validation check on all fields on this page.
- [x] All fields should be required except Address 2 and 3.
- [x] Reformat fields and condense if possible.
- [x] Change "Address" label to "Shipped To Address"

[2017-02-24 20:06] ClaireReinken opened #151 "Order Confirmation Page Does not Display Order Number"
The order confirmation page needs to display the order number.

[2017-02-24 20:07] ClaireReinken opened #152 "Postal Code Should be Zip Code on All Pages"
Our labels are inconsistent

[2017-02-24 20:13] ClaireReinken commented on #7
Moving to QC Sprint 3

[2017-02-24 20:15] ClaireReinken commented on #11
This is covered through admin reporting.

[2017-02-24 20:15] #11 closed, assigned to nobody

[2017-02-24 20:16] #16 closed, assigned to lnajera

[2017-02-24 20:24] #97 closed, assigned to lutech

[2017-02-24 20:25] #99 closed, assigned to lutech

[2017-02-24 20:25] #101 closed, assigned to lutech

[2017-02-24 20:25] #102 closed, assigned to nobody

[2017-02-24 20:26] #104 closed, assigned to nobody

[2017-02-24 20:27] #108 closed, assigned to nobody

[2017-02-24 20:28] ClaireReinken commented on #110
David created a tool for this.

[2017-02-24 20:28] #110 closed, assigned to davidatfei

[2017-02-24 20:30] ClaireReinken commented on #116
Luis addressed this.

[2017-02-24 20:30] #116 closed, assigned to nobody

[2017-02-24 20:30] ClaireReinken commented on #118
Duplicate

[2017-02-24 20:30] #118 closed, assigned to nobody

[2017-02-24 20:34] ClaireReinken commented on #136
This has been addressed

[2017-02-24 20:34] #136 closed, assigned to nobody

[2017-02-24 20:57] Mikewilburn302 opened #153 "Issue #18 - All-in-One Desktops not listed under "All Desktops""
User: AuthorizedUser1
Repro Steps

Click Hardware > Desktops > All Desktops
Validate All-in-One Desktop is not in list of products

All in One desktop is not being grouped with "All Desktops"

[2017-02-24 21:16] llin-freeman commented on #65
Hi Ryan,
Let us know when this is ready and what the public URL is.

Thanks!

Get Outlook for iOS<https://aka.ms/o0ukef>

On Fri, Feb 24, 2017 at 12:59 PM -0500, "Ryan Chadwick" <notifications@github.com<mailto:notifications@github.com>> wrote:

Im taking this one - need to run it through IT CCB - needs DNS and Firewall
need to add configuration for SSL
certificate and domain/sub-domain - most lik

[2017-02-24 21:19] jennymnh commented on #149
~~@lutech , i was able to make all of the changes to this page except the price total. Could you look at that? Thanks.~~

Nevermind, I was able to figure it out. Moving to QC.

[2017-02-24 21:58] neelusingh28 opened #154 "Issue #115 - Search/Edit/Delete Items in a Catalog functionality is NOT working"
User: Admin1

- [x] 1. Edit - Save changes button is not working if any values are changed
- [x] 2. Search is working only when nothing is selected in cells
- [x] 3. select some filelds click on search>no result>Click on search in left >system does not empty the cells
- [ ] 4. Product Image - Browse for image - is not available on the search page
- [x] 5. When delete selected then system displays

[2017-02-24 22:03] neelusingh28 opened #155 "System allows to perform admin function even with authorized user log in"
Log in as any authorized user and navigate to admin and perform any admin functions, system would allow to do that which it should not.

[2017-02-24 22:49] jennymnh commented on #144
I feel like changing "Inventory" into "Add, Edit, and Delete Items from the Catalog" would be too wordy. That could go into the text explaining what it is. I suggest simply leaving it as "Catalog"

Here is what I currently have it styled as. Let me know your comments/changes and I can check it in once we're done.
![image](https://cloud.githubusercontent.com/assets/9370407/23324061/a76722fa-fab9-11

[2017-02-24 23:32] ClaireReinken commented on #144
I like it! Please just use catalog

- Claire Reinken

On Feb 24, 2017, at 5:50 PM, Jenny Ho <notifications@github.com<mailto:notifications@github.com>> wrote:

I feel like changing "Inventory" into "Add, Edit, and Delete Items from the Catalog" would be too wordy. That could go into the text explaining what it is. I suggest simply leaving it as "Catalog"

Here is what I currently have it styled as

[2017-02-25 00:17] jennymnh commented on #117
Closing this out since it is done. I think I may have forgotten to do that in the last sprint.

[2017-02-26 17:15] lutech commented on #154
User: Admin1

- [x] 1. Edit - Save changes button is not working if any values are changed
- Verified it is working. All fields are required. Sometimes the UNSPSC field is empty by default. Populating data in  the UNSPSC field enables the Save button. There should be another task to make this field optional.
- [x] 2. Search is working only when nothing is selected in cells
- Resolved. Fields requi

[2017-02-26 17:28] lutech commented on #154
@davidatfei @ClaireReinken I was able to resolve some of the issues but the 2 below would require back end work.  Not sure if they're exactly necessary however. As they're in the requirements in #115, I will let Claire decide if these are truly necessary. @ClaireReinken , can you please confirm?
- [ ] 4. Product Image - Browse for image - is not available on the search page
- [x] 6. User does not

[2017-02-26 19:25] ClaireReinken commented on #154
4. Product Image - Browse for image - is not available on the search page
 6. User does not have an option to delete multiple items
These are nice to have at this point. Let's remove them from the acceptance criteria. I will move this issue to QC Doing.

[2017-02-26 21:55] davidatfei commented on #154
I added the ability to delete multiple items. I also added the image file name box to the search page.  I don’t know if that is what was intended by #4, but that’s what I did.

I could not get a checkbox to display, so I just use <a>s with text that toggles between Selected and Unselected.  UI people, feel free to change that.

One of the reports (Trend I think) says to initially select the curren

[2017-02-26 21:59] ClaireReinken commented on #154
Let's make the fiscal quarter a calendar quarter.

FY Q1 = Jan - march
FY Q2= April - June
FY Q3 = July - Sept
FY Q4 = Oct - Dec

- Claire Reinken

On Feb 26, 2017, at 4:55 PM, davidatfei <notifications@github.com<mailto:notifications@github.com>> wrote:

I added the ability to delete multiple items. I also added the image file name box to the search page. I don't know if that is what was intended

[2017-02-26 22:20] llin-freeman commented on #154
Hi,
I thought we were using a date range, so the user selects start & end date for the desired report.  That reduces the risk of calendar vs fiscal year issues.

Thanks

Get Outlook for iOS<https://aka.ms/o0ukef>

On Sun, Feb 26, 2017 at 4:59 PM -0500, "ClaireReinken" <notifications@github.com<mailto:notifications@github.com>> wrote:

Let's make the fiscal quarter a calendar quarter.

FY Q1 = Jan

[2017-02-27 03:47] lutech commented on #153
Fixed issue. All sections should now be returning expected results.

[2017-02-27 04:29] lutech commented on #23
@JXPrime Hey Jonas, can you please take a look at the service. It doesn't seem to be working even in swagger.

[2017-02-27 05:54] lutech commented on #20
Issues have been resolved. Few notes, OEM is the same as Manufacturer. I have renamed to OEM.  Based on Hatem's feedback, I have kept MSRP and Discount percentage to show incentive to users. Products DB should now fully be accessible for testing.

[2017-02-27 05:57] lutech commented on #22
@jennymnh , lets go over this one together.

[2017-02-27 06:00] lutech commented on #134
This has been resolved as part of bug #155

[2017-02-27 14:21] jennymnh commented on #142
I added the discount % and MSRP near the price area. Anyone have any thoughts on this?
![image](https://cloud.githubusercontent.com/assets/9370407/23364712/2836c866-fcce-11e6-8652-59aa8d55dc0e.png)

[2017-02-27 15:45] neelusingh28 commented on #155
This is working as expected. Authorized user is no longer able to access admin in 5000.

[2017-02-27 15:45] #155 closed, assigned to neelusingh28

[2017-02-27 16:02] neelusingh28 commented on #154
User: Admin1

Above issues are fixed but found following issues now.

1. Pagination issue - Search always displays Page # of 44 even though there are less products available.

2. Image appears only if user hits on edit button and then comes back on left menu search. After that clear search button does not clear image.

3. Inventory display issue - Dell is 248 but search bringing only 10 results, S

[2017-02-27 16:20] neelusingh28 commented on #7
Tested on 5000 url:

1. User cannot preview the item before adding. Is that expected?
2. There is NO cancel button. Is that expected?

[2017-02-27 16:23] #134 closed, assigned to neelusingh28

[2017-02-27 16:23] ClaireReinken commented on #143
David addressed this issue. Ready for QC

[2017-02-27 16:36] Mikewilburn302 commented on #20
SKU# is missing from compare list

[2017-02-27 16:49] neelusingh28 opened #156 "Issue #117 Homepage Text is missing"
1. Introductory text is missing on the homepage.

2. When user clicks on logo then a square box appears - which it should not I guess. Please check screenshot.

![image](https://cloud.githubusercontent.com/assets/25771656/23370482/d2972102-fce2-11e6-8e4d-6a023ca8776b.png)

[2017-02-27 16:58] neelusingh28 commented on #145
Verified and Passed in 5000 site.

[2017-02-27 17:11] neelusingh28 opened #157 "Internet explorer site issues"
1. http://ca-adpq-docker1.fei.local:5000 - This link does not work in IE 11 - nothing comes up.
2. http://ca-adpq-docker1.fei.local:5001 - This link brings up only homepage after that none of the links works.

[2017-02-27 17:41] #145 closed, assigned to neelusingh28

[2017-02-27 17:58] JXPrime commented on #17
Fixed clear button to clear price selection. @neelusingh28

[2017-02-27 19:04] neelusingh28 commented on #133
@llin-freeman this is working as expected assigning to you for the text.

[2017-02-27 19:12] kcallander commented on #132
These have been updated and new layouts need to be reviewed and approved.

[2017-02-27 19:20] JXPrime commented on #20
Added SKU to compare list (make sure to clear your local browser cache) cc: @Mikewilburn302

[2017-02-27 19:22] kcallander commented on #48
I have rechecked everything with the WAVE tool and looks good... zero errors. Assigning to Roman so he can check with the JAWS reader.

[2017-02-27 19:24] JXPrime commented on #21
Changed format of contract expiration date. cc: @neelusingh28

[2017-02-27 19:25] neelusingh28 commented on #130
Verified and Passed in 5000 site.

[2017-02-27 19:27] #130 closed, assigned to neelusingh28

[2017-02-27 19:28] kcallander commented on #120
Looks good - errors fixed.

[2017-02-27 19:31] kcallander commented on #120
Looks good.

[2017-02-27 19:33] kcallander commented on #123
Looks good - zero errors

[2017-02-27 19:34] kcallander commented on #123
Looks good - zero errors

[2017-02-27 19:35] kcallander commented on #122
Looks good - zero errors

[2017-02-27 19:42] neelusingh28 opened #158 "Advance Search is NOT displaying appropriately on Devices - Apple/Android"
1. Open the link - http://ca-adpq-docker1.fei.local:5000 in Google Chrome in mobile emulator
2. Select the device - either iPhone 6 Plus/iPad/Galaxy S5
3. Go to Advance Search
4. Cells are zigzag. Please check the screenshot.
5. When user scrolling to the right then background of website is NOT displaying. Please check the screenshot.

![image](https://cloud.githubusercontent.com/assets/25771656/2

[2017-02-27 20:36] neelusingh28 opened #159 "Issue #19 Search is NOT working"
Tried following in search field on homepage. Nothing is working.

1. Item Description
2. Category
3. Manufacturer
4. Manufacturer Part Number (OEM #)
5.  SKU#/Item#
6. Keyword

[2017-02-27 20:40] neelusingh28 commented on #19
Testing cannot be proceeded further. Showstopper. Bug created #159

[2017-02-27 20:50] llin-freeman commented on #133
Thanks! Please use:
Questions? Find an issue with this site? Please report it to: CA.BugReport@feisystems.com.

[2017-02-27 20:53] jennymnh commented on #133
I have added the text to the page and checked it in.

[2017-02-27 21:07] christianhfei opened #160 "Fix responsive grid across all screen sizes to satisfy #52"
Grid is currently not functioning as expected (spacing between columns is not transferring over to smaller grid sizes).

[2017-02-27 21:14] Mikewilburn302 commented on #27
Can I be sent an email containing a csv inventory file I could use?

[2017-02-27 21:19] neelusingh28 opened #161 "Issue #149 Cart Page issues"
1. System is changing the price on changing the quantities however, system should change the price on clicking the 'update cart ' button
2. When '0' qty selected then total price is displaying as 'BLANK' it should display 0.00

[2017-02-27 21:30] llin-freeman opened #162 "Error checking out"
![error](https://cloud.githubusercontent.com/assets/22507715/23380794/2b91d7bc-fd0a-11e6-9562-c2f7f279b066.JPG)
Hi, I get a "Sorry, your order could not be processed at this time. Please try again. Go back to cart" error.  Any ideas?

[2017-02-27 21:35] ryan-chadwick-fei commented on #65
http://ca-adpq-prototype.eastus2.cloudapp.azure.com

[2017-02-27 21:37] JXPrime commented on #162
Think I found the cause of this.

[2017-02-27 21:44] neelusingh28 commented on #133
Verified and Passed in 5000 site.

[2017-02-27 21:44] #133 closed, assigned to neelusingh28

[2017-02-27 21:50] JXPrime commented on #23
I found an issue related to the shopping cart that was preventing orders from going through, I've fixed that and will move this back to QC doing.

[2017-02-27 21:52] JXPrime commented on #19
#159 was addressed cc: @neelusingh28

[2017-02-27 21:54] llin-freeman commented on #27
Hi Luis,
Can you send Mike the data file?

Thanks,
Lisa

I-Chun (Lisa) Lin-Freeman
Senior Associate

office   |  443.270.5100 x64858
direct   |  667.786.4858
fax       |  410.715.6538
email   |  Lisa.Lin-Freeman@feisystems.com<mailto:Lisa.Lin-Freeman@feisystems.com>

FEi Systems  |  9755 Patuxent Woods Drive, Suite 300 Columbia, MD 21046  |  www.FEIsystems.com<http://www.feisystems.com/>

This doc

[2017-02-27 21:56] davidatfei commented on #27
Mike, open git board. Go to the code tab. Choose the develop branch.

ca-adpq-prototype/ca_proto/ca_service/DbScripts/

There are images in a folder there and there is a csv there: Data Set_ADPQ_v5.csv is the one to use.

[2017-02-27 21:57] llin-freeman commented on #23
Thank you!

I-Chun (Lisa) Lin-Freeman
Senior Associate

office   |  443.270.5100 x64858
direct   |  667.786.4858
fax       |  410.715.6538
email   |  Lisa.Lin-Freeman@feisystems.com<mailto:Lisa.Lin-Freeman@feisystems.com>

FEi Systems  |  9755 Patuxent Woods Drive, Suite 300 Columbia, MD 21046  |  www.FEIsystems.com<http://www.feisystems.com/>

This document may contain confidential and proprietar

[2017-02-27 21:59] neelusingh28 opened #163 "Log in credentials does not work as expected"
1. There is no way to figure it out what user you have logged in as unless user clicks on log out and place cursor in user id field
2. Chrome remembers the user id and password but correct password is not remembered and log in fails unless user enters correct password.
3. I think we should have labels too as user name and password too on log in screen.
4. Cart and Compare list links displays resul

[2017-02-27 22:03] neelusingh28 commented on #144
Verified and Passed in 5000 site.

[2017-02-27 22:03] #144 closed, assigned to neelusingh28

[2017-02-27 22:35] #143 closed, assigned to Mikewilburn302

[2017-02-27 22:36] #18 closed, assigned to lutech, Mikewilburn302

[2017-02-27 22:36] #153 closed, assigned to Mikewilburn302

[2017-02-27 22:37] #142 closed, assigned to nobody

[2017-02-27 22:37] #120 closed, assigned to kcallander

[2017-02-27 22:37] #122 closed, assigned to kcallander

[2017-02-27 22:37] #123 closed, assigned to kcallander

[2017-02-28 12:01] davidatfei commented on #14
Drop-down to choose Product Type?
Checkboxes to drill down the specific products?
Product number or phone number entered in search box?

I don't understand how these apply to Overall Order Statistics. If they do, I need a very detailed description as to how they do and as to how these features should be implemented. My understanding was that the reports would be generated for a given date range an

[2017-02-28 12:32] davidatfei commented on #154
1. Fixed
2. Fixed
3. Cannot duplicate
4. Try yyyy-mm-dd. Maybe the UI people can change this to a date picker.
5. Added Cancel button. Changes to styling are causing the placement to be weird. UI people should address.
6. Question for UI people.

[2017-02-28 12:34] davidatfei commented on #124
Cannnot duplicate. Maybe try importing items again.

[2017-02-28 12:39] davidatfei commented on #111
"Start/End dates cannot be a future date" is not enforced. In fact, the initial date range is the current quarter, which will almost always include an end date in the future.

Report is returned as an html table. It can be printed. It can be sorted on the page. Export is accomplished on the raw data tab, where a csv consumable by Excel can be "Download"ed. Raw data download includes additional col

[2017-02-28 12:44] davidatfei commented on #112
No 'dashboard'.
No 'larger version of the report'.
Future date restriction not enforced. In fact default date range (current quarter) almost always include a future end date.
Export available on the Raw Data tab as "Download".

[2017-02-28 12:47] davidatfei commented on #113
No 'dashboard'
No 'expand the report'
Only filter is date range. Extended filtering can be performed in Excel using downloaded raw data.
Future date restriction not enforced. Initial date range (current quarter) almost always includes a future end date.

[2017-02-28 12:51] davidatfei commented on #106
Added comments to parent issue linked in above.

[2017-02-28 13:26] kcallander commented on #121
Hey Jenny, I am still seeing one error on the page under the prototype task link.

[2017-02-28 14:00] jennymnh commented on #154
@christianhfei  will take a look, thanks.

[2017-02-28 14:10] jennymnh commented on #131
The "My Account" link has changed, but the "Track and Manage Orders" link has been changed to "My Order History" since we do not have an account info like a profile page.

[2017-02-28 14:12] christianhfei commented on #160
Fixed with commit https://github.com/FEISystems/ca-adpq-prototype/commit/f86103fd7de3338fc1753f23f8977cc2b1d0f97f

[2017-02-28 14:18] ClaireReinken commented on #7
Tested on 5000 url:
1.User cannot preview the item before adding. Is that expected? - I am going to write a separate issue for this functionality.
2.There is NO cancel button. Is that expected? - That's fine.

[2017-02-28 14:19] ClaireReinken opened #164 "Admin User Story - Preview Items in the Catatog before Adding Them"
When adding one item to the catalog, the admin should be able to see a preview page and edit or cancel from the page.

[2017-02-28 14:33] ClaireReinken opened #165 "http://ca-adpq-prototype.eastus2.cloudapp.azure.com/ - URL NOT WORKING IN IE"
It just shows a blank white page.

[2017-02-28 14:36] llin-freeman commented on #165
In Chrome, the page loads, but the pictures do not
![missing pics](https://cloud.githubusercontent.com/assets/22507715/23409365/591cec64-fd99-11e6-94c9-64952af1967a.JPG)

[2017-02-28 14:51] ClaireReinken commented on #14
Hi David, I think this acceptance criteria may no longer apply. If you can turn the admin reports page into a dashboard, that would be great. If time runs out before code freeze, the current admin reports page looks good.

[2017-02-28 15:16] Mikewilburn302 opened #166 "Issue #26 - Order History displays original price instead of discount"
Browser: Chrome
User: AuthorizedUser1
Repro Steps:

1) Nav to My Account > Order History
2) Select Order to view
3) Verify that order displays original price

Description
Order history page displays each item's original price instead of contract discount price. The Total cost, however, is calculated from the discounted price.

![2017-02-28_10-15-30](https://cloud.githubusercontent.com/assets/25773

[2017-02-28 15:49] neelusingh28 commented on #159
Verified and Passed in 5000 site.

[2017-02-28 15:49] #159 closed, assigned to neelusingh28

[2017-02-28 15:56] ClaireReinken opened #167 "Provided sufficient documentation to install and run their prototype on another machine"
We need to provide sufficient documentation to install and run their prototype on another machine

[2017-02-28 16:31] Mikewilburn302 commented on #27
I need a csv file that has not already been uploaded. Everything is skipped because they are duplicates

[2017-02-28 16:33] davidatfei commented on #14
I updated the report page to include a Dashboard. The Dashboard replaces the filter page. The charts on the dashboard are abbreviated (less labeling) versions of the ones that display when expanded.

[2017-02-28 16:43] jennymnh commented on #121
This is fixed, feel free to test again.

[2017-02-28 16:45] neelusingh28 commented on #19
@ClaireReinken

Q1. Quick Search is working now but its is NOT displaying the products with following columns as per the acceptance criteria. Is it expected?

Q2. There is no option to sort the products. Is it expected?

Please checkout the screenshot of quick search

![image](https://cloud.githubusercontent.com/assets/25771656/23414852/4d4ca584-fdab-11e6-88b5-c9462429a1a9.png)

[2017-02-28 16:55] kcallander commented on #121
Looks good!

[2017-02-28 17:07] Mikewilburn302 opened #168 "HIGH PRIORITY - Site Inaccessible"
Browser: Chrome
User: AuthorizedUser1

Site is unavailable. "Refused to connect"

[2017-02-28 17:50] ClaireReinken commented on #19
Q1. Quick Search is working now but its is NOT displaying the products with following columns as per the acceptance criteria. Is it expected? - That's fine

Q2. There is no option to sort the products. Is it expected? - Yes, I think this can be closed.

[2017-02-28 18:04] neelusingh28 commented on #19
Verified and Passed in 5000 site.

[2017-02-28 18:04] #19 closed, assigned to neelusingh28

[2017-02-28 18:39] neelusingh28 commented on #157
Retested and found following issues:
1. http://ca-adpq-docker1.fei.local:5000 - Page comes up now but cart and compare list links not working. Once clicked site gets frozen and nothing else works.
2. http://ca-adpq-docker1.fei.local:5001 - This link does not work in IE 11 - nothing comes up.

[2017-02-28 18:44] jennymnh commented on #156
@llin-freeman , does the "introductory text" mean the text from Kristie's mockups?

[2017-02-28 18:46] llin-freeman commented on #156
Yes

I-Chun (Lisa) Lin-Freeman
Senior Associate

office   |  443.270.5100 x64858
direct   |  667.786.4858
fax       |  410.715.6538
email   |  Lisa.Lin-Freeman@feisystems.com<mailto:Lisa.Lin-Freeman@feisystems.com>

FEi Systems  |  9755 Patuxent Woods Drive, Suite 300 Columbia, MD 21046  |  www.FEIsystems.com<http://www.feisystems.com/>

This document may contain confidential and proprietary infor

[2017-02-28 18:50] JXPrime commented on #157
Found bug in compare list on dev and fixed. The stable site (5001) is updated periodically so it probably hasn't been refreshed yet.

[2017-02-28 18:52] jennymnh commented on #156
We still have one slideshow image with gears on it, are we putting text on it or should we remove it?

[2017-02-28 19:09] neelusingh28 opened #169 "Issue #7 Admin Add Product issues"
1. 'Cancel' button is NOT aligned to Add item
2. Select image file does not have an option to select any image
3. Despite all cells are filled - add item button remains inactive- are there any validation check on each cell's contents?
4. Please make sure user can preview the item content of the catalog before adding item.

![Uploading image.png…]()

[2017-02-28 19:45] #121 closed, assigned to jennymnh, kcallander

[2017-02-28 19:46] #27 closed, assigned to Mikewilburn302

[2017-02-28 19:46] #20 closed, assigned to Mikewilburn302

[2017-02-28 19:46] #23 closed, assigned to Mikewilburn302

[2017-02-28 20:02] Mikewilburn302 commented on #168
Issue seemingly resolved

[2017-02-28 20:28] Mikewilburn302 commented on #166
Order history is now totally blank

[2017-02-28 20:33] ClaireReinken commented on #148
Not an issue

[2017-02-28 20:33] #148 closed, assigned to nobody

[2017-02-28 21:00] jennymnh opened #171 "Product Details Quantity textbox needs to be clearly defined"
The quantity textbox currently is not clearly defined. We should add a quantity label to the textbox as well as autopopulate it with a value of "1".

[2017-02-28 21:02] jennymnh opened #172 "Add "My Order History" link in top navigation"
Top navigation should also have the "My Order History" link.

[2017-02-28 21:03] jennymnh opened #173 "Order Confirmation page needs to mention an email confirmation being sent"
The order confirmation page needs to indicate that an email will be sent to the user. Need text from Lisa.

[2017-02-28 21:03] jennymnh opened #174 "Authorized User - Order Details page needs a back button"
Along with the cancel button, the user should also be able to navigate back to the main order history page.

[2017-02-28 21:07] neelusingh28 commented on #158
Verified and Passed in 5000 site.

[2017-02-28 21:07] #158 closed, assigned to neelusingh28

[2017-02-28 21:18] neelusingh28 commented on #21
Enlarge view of pictures is still NOT available.

[2017-02-28 21:20] #168 closed, assigned to ryan-chadwick-fei

[2017-02-28 21:20] #152 closed, assigned to Mikewilburn302

[2017-02-28 21:21] #131 closed, assigned to Mikewilburn302

[2017-02-28 21:37] JXPrime commented on #166
Couldn't reproduce on :5000 -

[2017-02-28 21:42] llin-freeman opened #175 "Add to cart from product details not working"
Adding item from product detail page does not update cart.

[2017-02-28 21:44] llin-freeman commented on #175
![product page](https://cloud.githubusercontent.com/assets/22507715/23435284/2ca3d42c-fdd5-11e6-8e82-0adf2bdd94fa.png)

[2017-02-28 21:50] jennymnh commented on #132
Images have been revised and I have pushed my changes. The issue is related to #117 so I am closing this one.

[2017-02-28 21:53] JXPrime commented on #163
1 - in the main-nav component can we add something to the model behind to show login/logout depending on status?
2 - no clue what's up with this
3 - There are labels (in modal.component), but they have a class "sr-only", @lnajera @lutech ?
4 - can't reproduce this.

[2017-02-28 22:08] JXPrime commented on #175
if you're not logged in you'll also have problems adding stuff to your cart, but there was a javascript error on this page that I think is resolved. cc: @llin-freeman

[2017-02-28 22:39] neelusingh28 commented on #161
This is still not fixed

[2017-02-28 22:41] neelusingh28 commented on #175
Verified and Passed in 5000 site.

[2017-02-28 22:55] neelusingh28 commented on #157
Verified and Passed in 5000 site.

[2017-02-28 22:55] #157 closed, assigned to neelusingh28

[2017-02-28 23:35] neelusingh28 opened #176 "Issue #17 Advance Search issues"
1. If category is software then search bringing no results
2. As per data set spreadsheet Manufacturer drop down should have 6 line items but it displays only 2. - This is still not fixed.
3. Category hardware brings only 10 results however, as per data set it should be 351

[2017-02-28 23:39] neelusingh28 commented on #17
Bug #176

[2017-02-28 23:41] neelusingh28 commented on #172
"My Order History" link is still not there on top navigation in 5000.

[2017-02-28 23:43] neelusingh28 commented on #171
Changes are still NOT reflecting on 5000 site.

[2017-02-28 23:52] neelusingh28 commented on #52
Below Navigation is missing on devices. Tested on mobile emulator for Galaxy S5 and iphone 6 plus and ipad

![image](https://cloud.githubusercontent.com/assets/25771656/23439922/0fb2e026-fde7-11e6-94b9-68b9ef341914.png)

[2017-03-01 00:04] jennymnh commented on #150
Do we really want to change the label to "Shipped to Address"? If we do it makes it look like they need to enter three full addresses.

![image](https://cloud.githubusercontent.com/assets/9370407/23440211/bcd0e81a-fde8-11e6-9b8b-59e291dbe1c7.png)

[2017-03-01 00:09] ClaireReinken commented on #150
Instead can we add the words "Ship to:" above the address lines?

- Claire Reinken

On Feb 28, 2017, at 7:04 PM, Jenny Ho <notifications@github.com<mailto:notifications@github.com>> wrote:

Do we really want to change the label to "Shipped to Address"? If we do it makes it look like they need to enter three full addresses.

[image]<https://cloud.githubusercontent.com/assets/9370407/23440211/bcd0e8

[2017-03-01 00:34] neelusingh28 commented on #124
1. Desktop Value Added Services are 8 in data set but displaying 6 on 5000 site.
2. Laptop Value Added Services are 9 in data set but displaying 7 on 5000 site.
3. All Value Added Services is blank on 5000 site.

[2017-03-01 01:14] ClaireReinken opened #177 "Top Bar Should Remain when Scrolling so the User can View their Cart and Compare List"
This was suggested during the user survey. Currently, the top bar navigation does not stay at the top of the screen when the user is scrolling through page results. So the user has to scroll all the way up if they want to use compare list or see their cart. This top bar navigation should remain locked at the top of the screen.

[2017-03-01 01:16] ClaireReinken opened #178 "Cart - Need Continue Shopping Button"
When a user adds an item to the cart, they can only use the back button to continue shopping. During the user survey, a user requested a continue shopping button to appear on the bottom left page of the cart so they can easily continue their shopping experience.

[2017-03-01 01:48] llin-freeman commented on #175
Thanks! I tried it on the survey site, and it still doesn't work. If you're viewing the product details, and then click add, the item doesn't make it to shopping cart.

[2017-03-01 01:50] llin-freeman commented on #175
![added core laptop](https://cloud.githubusercontent.com/assets/22507715/23442595/7f527008-fdf7-11e6-8524-7c7febca88f6.JPG)

[2017-03-01 01:51] llin-freeman commented on #175
Clicked "add to cart" from this page, and the cart did not update.

[2017-03-01 02:21] jennymnh commented on #14
I made some minor style changes on the dashboard page (pulled the fields outside of the table).

[2017-03-01 02:36] jennymnh commented on #172
I currently have this link set to only appear when the user is logged in as an authorized user. Should I leave it like this? Or should the link always appear?

If it should only appear when a user is logged in, i'll have to hide it in the footer too. @ClaireReinken

[2017-03-01 02:44] ClaireReinken commented on #172
The My Order History link should only appear when the user is logged in. Please hide it until the user logs in. Thank you.

[2017-03-01 02:48] jennymnh commented on #172
Thanks. @neelusingh28 you can test this now. You will have to log in as an authorized user in order to see the links.

[2017-03-01 04:12] jennymnh commented on #21
I think the original plan was to have three additional images that the user could click on to view, but since that didn't happen I don't think we need an enlarged view anymore. The images for the products right now are the largest version (I think).

I would not try to implement this feature. Any thoughts? @ClaireReinken

[2017-03-01 04:27] jennymnh commented on #156
The image with the gears has text on it now. Ready for QC.

[2017-03-01 04:38] ClaireReinken commented on #21
I think the original plan was to have three additional images that the user could click on to view, but since that didn't happen I don't think we need an enlarged view anymore. The images for the products right now are the largest version (I think).

I would not try to implement this feature. Any thoughts? @ClaireReinken

- Agreed. Let's remove this feature. If all other items are addressed, we ca

[2017-03-01 04:38] #21 closed, assigned to lutech

[2017-03-01 04:39] #106 closed, assigned to davidatfei

[2017-03-01 04:39] #132 closed, assigned to kcallander

[2017-03-01 04:40] #107 closed, assigned to jennymnh

[2017-03-01 04:49] christianhfei commented on #147
This should all be ready for testing. The table is populating everything properly and the layout is good on all sizes.

https://github.com/FEISystems/ca-adpq-prototype/commit/db4a413266e13a22567fed965ae4a2b086cf9f20

[2017-03-01 05:01] jennymnh commented on #175
This has been fixed. Sorry, I broke it when I was adding quantities. :(

[2017-03-01 05:42] christianhfei commented on #154
Checkbox issue is resolved, the USA stylesheet's custom checkbox styles were hiding the real checkbox, so I just removed them. This will only apply to the checkboxes inside tables in the admin catalog section.

https://github.com/FEISystems/ca-adpq-prototype/commit/9a4cf4e9f4ee8a2ef0ec3c49edb8af1f7e005ad8

[2017-03-01 12:32] davidatfei commented on #14
After your changes, the form element on the page is unclosed and the Order Status select box is no longer multiselect.  I understand wanting to clean up the UI, but do we want to remove functionality to do it?

[2017-03-01 12:39] davidatfei commented on #14
I also noticed that there is a Dashboard header that is showing for all of the reports. The dashboard is only one of the tabs available on that page. What was the reasoning behind labeling all of the different reports and raw data as Dashboard?

[2017-03-01 12:54] jennymnh commented on #14
No we don't. I'll fix it once I come into the office.

Thanks.

[2017-03-01 12:55] lutech commented on #163
1- If we need to how account info in the header, we will need a separate requirement/story. Not sure there is enough time. @ClaireReinken , a story can be created and we can try to get to it.
2 -This might be only on your browser. You may have "saved" the incorrect password to chrome. Try cleaning/deleting from browser history.
3 -We can show the labels. @JXPrime , "sr-only" is a way to hide visua

[2017-03-01 13:00] lutech commented on #124
@neelusingh28 , I sent you the category groupings. I don't think this is a bug. Can you confirm?

[2017-03-01 13:59] llin-freeman commented on #173
How about this:
Thank you for shopping with us. A confirmation of this purchase will be sent by email.
Your order number is XXXXX. To review all orders, visit your Order History.

[2017-03-01 14:10] llin-freeman commented on #175
Thanks, Jenny! I checked on 5000 and on the survey link, and still can't add the item from the product details page.

[2017-03-01 14:35] neelusingh28 commented on #172
@jennymnh

The link is displaying as expected but if user logs out and logs back in with different user then clicking on My Order History link does not brings relevant results unless user clicks somewhere else on the site and then clicks again on My Order History link.

[2017-03-01 14:37] davidatfei commented on #176
I added retrieval of the manufacturers and categories from the server to populate the drop downs. Note: the previously hard-coded values in the category box were actually Product Types. The box is not populated with categories, as the label suggests it should be.

[2017-03-01 14:41] neelusingh28 commented on #171
QTY label is there but it is not auto populating with the value of '1'

[2017-03-01 14:54] ClaireReinken commented on #163
1- If we need to how account info in the header, we will need a separate requirement/story. Not sure there is enough time. @ClaireReinken , a story can be created and we can try to get to it. I'll make a separate story and we'll put this low on the board.

[2017-03-01 14:55] neelusingh28 commented on #156
Verified and Passed in 5000 site.

[2017-03-01 14:55] #156 closed, assigned to nobody

[2017-03-01 14:56] jennymnh commented on #14
Typically it's not the best UI practice  to put search options/filter/etc in a table since it is not tabular data. But given the time constraints I went ahead and just reverted my changes back to how it initially looked.

[2017-03-01 15:07] ClaireReinken opened #179 "Account Information Should display in the header"
When the user is logged in, the top bar navigation should state, "Hello, User Name" or something similar to indicate the user is logged in. We have no indication if you are logged in or out and that's causing issues.

[2017-03-01 15:22] jennymnh commented on #173
This has been added, but we will need someone to add in the confirmation number (not sure if this has been implemented yet). @lutech  ?

[2017-03-01 15:32] neelusingh28 commented on #147
Please see this is still NOT fixed as per the requirements above other than status column.

![image](https://cloud.githubusercontent.com/assets/25771656/23466785/0fe88540-fe6a-11e6-817e-68c5c47f0166.png)

[2017-03-01 15:36] neelusingh28 commented on #124
@lutech, I tested as per the category groupings only. I observed these 3 are not displaying as expected.

[2017-03-01 15:39] #117 closed, assigned to neelusingh28

[2017-03-01 15:55] JXPrime commented on #161
can you be more specific, there were multiple items on this ticket.

[2017-03-01 15:57] llin-freeman opened #180 "View details by clicking on the picture"
User input we received re: expected usability-- Could clicking on the product image behave like clicking on the "view details"?  This makes it easier to view the product details.

[2017-03-01 16:04] jennymnh commented on #178
Ready for QC

[2017-03-01 16:05] JXPrime commented on #175
@jennymnh looks like the quantity is null being passed to the server which it doesn't like.

[2017-03-01 16:08] neelusingh28 commented on #17
@ClaireReinken - Manufacturer Part Number (OEM #) & SKU # are same for every product - Do we really need both on advance search?

[2017-03-01 16:09] Mikewilburn302 commented on #178
There's no Continue Shopping button

[2017-03-01 16:10] neelusingh28 commented on #176
@lutech

browser IE has issue:
Cells are sticking to each other and search and clear buttons should be horizontally right aligned.

![image](https://cloud.githubusercontent.com/assets/25771656/23468742/9da6db2a-fe6f-11e6-9895-7743aa01cc4f.png)

[2017-03-01 16:13] ClaireReinken commented on #141
Duplicate of Issue #150

[2017-03-01 16:17] Mikewilburn302 opened #181 "Issue #23 - Email not being saved when clicking Continue"
Browser: Chrome (only in Chrome)
User: AuthorizedUser1

Reprosteps
1) Add items to cart
2) Checkout
3) Enter all info and email
4) Click Continue
5) Validate email is now blank

Email is not saved in chrome when clicking continue.

[2017-03-01 16:19] ClaireReinken commented on #169
4.Please make sure user can preview the item content of the catalog before adding item. - Separate story

[2017-03-01 16:20] JXPrime commented on #180
Addressed in https://github.com/FEISystems/ca-adpq-prototype/commit/3434d7ab14706b0bb594f6614407e55cc4018a15

[2017-03-01 16:20] JXPrime commented on #180
@llin-freeman I don't see this on the board (the projects on the right is blank?) but it's ready to be tested in 5000

[2017-03-01 16:26] JXPrime commented on #181
Couldn't reproduce locally.

[2017-03-01 16:27] Mikewilburn302 commented on #181
Working now

[2017-03-01 16:29] ClaireReinken commented on #141
Not duplicate

[2017-03-01 16:41] ClaireReinken commented on #17
@ClaireReinken - Manufacturer Part Number (OEM #) & SKU # are same for every product - Do we really need both on advance search? - Yes because the government provides both columns of text and they may differ for future items.

[2017-03-01 16:45] neelusingh28 commented on #180
Verified and Passed in 5000 site.

[2017-03-01 16:45] #180 closed, assigned to neelusingh28

[2017-03-01 16:51] #146 closed, assigned to Mikewilburn302

[2017-03-01 16:52] #178 closed, assigned to Mikewilburn302

[2017-03-01 16:52] #181 closed, assigned to JXPrime, lutech

[2017-03-01 16:53] #42 closed, assigned to Mikewilburn302

[2017-03-01 18:16] ClaireReinken commented on #165
URL now works on IE

[2017-03-01 18:16] neelusingh28 commented on #154
All above issues are fixed but found following issues now.

1. After search results if clicked on browser back arrow, system takes the user to the Admin home page instead of search page.
2. Edit Product - if Product does not have UNSPSC then system is forcing user to enter that until that 'Save' button does not get activated.
3. Save changes button not saving changes. generating error.
4. Delete

[2017-03-01 18:24] neelusingh28 commented on #165
URL is working fine.

[2017-03-01 18:24] #165 closed, assigned to neelusingh28

[2017-03-01 18:57] neelusingh28 commented on #175
Adding item from product detail page is still NOT working.

[2017-03-01 19:05] neelusingh28 commented on #151
Verified and Passed in 5000 site.

[2017-03-01 19:05] #151 closed, assigned to neelusingh28

[2017-03-01 19:08] JXPrime commented on #175
@neelusingh28 were you logged in? I was able to add an item to the cart from the product detail page on the :5000 site.

[2017-03-01 19:09] neelusingh28 commented on #162
Verified and Passed in 5000 site.

![image](https://cloud.githubusercontent.com/assets/25771656/23476417/b4cbc054-fe88-11e6-86c9-cfafb6955bfe.png)

[2017-03-01 19:09] #162 closed, assigned to neelusingh28

[2017-03-01 19:13] kcallander commented on #163
I removed the class "sr-only" and you can see form labels now.

[2017-03-01 19:14] neelusingh28 commented on #175
@JXPrime  - yes, I am making sure that I'm always logged in before performing any action. 5000 site is highly unstable as well as sporadic and particularly cart and compare list :(

I tried again  just now. logged in as AuthorizedUser3 but I'm still not able to add the item to the cart.

![image](https://cloud.githubusercontent.com/assets/25771656/23476634/65e7ba14-fe89-11e6-9446-7bf1f002f2df.png)

[2017-03-01 19:14] JXPrime commented on #176
I didn't notice this locally or on the 5000 site in IE, although it may have been fixed since this was opened.
![image](https://cloud.githubusercontent.com/assets/1841009/23476635/a2b13544-fe78-11e6-9393-2d030bda5b5b.png)

[2017-03-01 19:16] JXPrime commented on #171
I think this got fixed by https://github.com/FEISystems/ca-adpq-prototype/commit/1a42c20bd3c87bb9d9bf2c7d94225c7e5623589e - @neelusingh28 can you verify?

[2017-03-01 19:29] jennymnh commented on #173
It looks like someone else already changed the confirmation message to be an actual number. I am putting this in QC doing now.

[2017-03-01 19:35] neelusingh28 commented on #171
Value '1' is still not auto populating, system displays '1' only when user scroll either top or down.

[2017-03-01 19:37] JXPrime commented on #175
I've found an interesting heisenbug on the :5000 site (I can't reproduce this locally). If you're on the homepage and click on a product to view the details page, you'll get a js error:
![image](https://cloud.githubusercontent.com/assets/1841009/23477520/70ed2a92-fe7b-11e6-803c-dbff50c2ca63.png)

Once that happens, all the js functionality in that component is broken, so add to cart does nothing.

[2017-03-01 19:44] JXPrime commented on #171
I think this will be fixed by #175 when it is ready.

[2017-03-01 19:52] neelusingh28 commented on #169
Verified and Passed in 5000 site except #4.

[2017-03-01 19:53] #169 closed, assigned to neelusingh28

[2017-03-01 20:01] jennymnh commented on #174
Ready for QC.

[2017-03-01 20:07] neelusingh28 commented on #7
Verified and Passed in 5000 site and in Firefox too.

[2017-03-01 20:07] davidatfei commented on #154
1. When on the reports page, Back is the Admin home page.
2. It is being treated as a required column. If you have requirements that say otherwise, please provide.
3. Cannot duplicate. Try to login as an admin.
4. Cannot duplicate. Try to login as an admin.

If you are encountering the unauthorized operation errors after signing in as an admin, please write down detailed steps to reproduce the pro

[2017-03-01 20:12] #7 closed, assigned to neelusingh28

[2017-03-01 20:13] christianhfei commented on #176
I just checked and I'm also not seeing anything breaking. @neelusingh28, can you please confirm if this is still an issue?

[2017-03-01 20:31] #160 closed, assigned to christianhfei

[2017-03-01 20:31] christianhfei commented on #160
I'm going to close this out now, as I'm pretty confident most pages are good on all screen sizes.

[2017-03-01 20:37] ryan-chadwick-fei commented on #75
closing and removing as duplicate of #78  and #58

[2017-03-01 20:37] #75 closed, assigned to ryan-chadwick-fei

[2017-03-01 20:39] ryan-chadwick-fei commented on #137
removing from scope - no time to implement

[2017-03-01 20:40] ryan-chadwick-fei commented on #77
removing from scope - not enough time to implement

[2017-03-01 21:16] neelusingh28 commented on #161
Issue #2 is fixed but NOT 1.

1. System is still changing the price on changing the quantities however, system should change the price on clicking the 'update cart ' button. if in case user clicks on the update cart button then 'update cart' and 'proceed to checkout' buttons are disappearing and there are items in the cart but system still displaying the message 'You have (0) items in your cart. C

[2017-03-01 21:21] neelusingh28 commented on #176
Verified and Passed in 5000 site.

[2017-03-01 21:25] JXPrime commented on #55
Other relevant commits: 1463eecb1200514305a5258ddcc55449091359c6

[2017-03-01 21:26] JXPrime commented on #55
77251a588c6aeb2407558294f2c071f1bcee11d6
cdcec3e1ac508631bc56749d7827e9178c01a445
74cef093f4d6b57452c197045f25103a243f9d3a
9ba338cf0cabbe149019eb2ff8ad130493d40dba
4bf79003a1102dc4b682bb31e925eac866877612
56a5d399a4e8d28c3218d4bed794bd5c40e2d6a8

[2017-03-01 21:29] neelusingh28 commented on #176
Verified and Passed in 5000 site.

[2017-03-01 21:29] #176 closed, assigned to neelusingh28

[2017-03-01 21:31] neelusingh28 commented on #17
Verified and Passed in 5000 site.

[2017-03-01 21:31] #17 closed, assigned to neelusingh28

[2017-03-01 22:11] neelusingh28 commented on #173
Verified and Passed in 5000 site.

[2017-03-01 22:11] #173 closed, assigned to neelusingh28

[2017-03-01 22:19] neelusingh28 commented on #147
Verified and Passed in 5000 site.

[2017-03-01 22:19] #147 closed, assigned to neelusingh28

[2017-03-01 22:22] neelusingh28 commented on #174
Verified and Passed in 5000 site.

[2017-03-01 22:22] #174 closed, assigned to neelusingh28

[2017-03-01 22:46] neelusingh28 commented on #177
Top navigation is remain only in Chrome but NOT in IE & Firefox.

[2017-03-01 22:59] lutech commented on #21
@ClaireReinken , @neelusingh28  I'm not sure what actions need to take place here if any. Can you please clarify?

[2017-03-01 23:01] ClaireReinken commented on #21
No action needed

[2017-03-01 23:03] #65 closed, assigned to ryan-chadwick-fei

[2017-03-01 23:11] neelusingh28 commented on #161
Verified and Passed in 5000 site.

[2017-03-01 23:11] #161 closed, assigned to neelusingh28

[2017-03-01 23:16] lutech commented on #124
![image](https://cloud.githubusercontent.com/assets/6694316/23485818/24ed07fe-feab-11e6-8877-0af4b4c617f4.png)
![image](https://cloud.githubusercontent.com/assets/6694316/23485837/4437d6ac-feab-11e6-9631-849a4cf57d01.png)

@neelusingh28 , For the first two, some products are skipped when uploaded because the price is "$-". If you take those into account, the numbers add up correctly. The All VAS i

[2017-03-01 23:59] christianhfei commented on #177
Seems to work fine in IE and Firefox, please make sure you clear your cache and do a hard refresh when confirming.

[2017-03-02 01:36] davidatfei commented on #124
Luis, I just checked in a change that should address all special characters. Please give it a try. If you encounter problems with any other characters please let me know.

[2017-03-02 01:45] lutech commented on #124
@davidatfei Thanks David, I confirmed its working now. Moving to QC.

[2017-03-02 01:59] davidatfei commented on #141
UNSPSC is no longer required

[2017-03-02 01:59] jennymnh commented on #172
This has been fixed. I made it so when a user clicks "logout" it should take them back to the home page.

[2017-03-02 02:26] ClaireReinken opened #182 "Before Prototype Submission, ensure we remove/hide Admin Catalog | Prototype Tasks"
These functions were added to help QC testing and will not be applicable to the prototype user. Before hiding it, can you please add 1000 orders for each account so the evaluators have plenty of report data.

[2017-03-02 02:27] ClaireReinken opened #183 "Before prototype is submitted, ensure all carts and compare lists are cleared for all accounts - Admin and authorized user"

[2017-03-02 04:09] ClaireReinken opened #184 "Raw Data - Change Label to be more meaningful to function"
Perhaps change to 'transactional data'?

[2017-03-02 11:20] ryan-chadwick-fei commented on #58
[Grafana Metric and Analytic Dashboard](http://ca-adpq-prototype.eastus2.cloudapp.azure.com:3000)

[Prometheus Monitoring Server](http://ca-adpq-prototype.eastus2.cloudapp.azure.com:9090/status)

[DockerDash Docker Engine Dashboard](http://ca-adpq-prototype.eastus2.cloudapp.azure.com:5050)

[2017-03-02 11:20] #58 closed, assigned to ryan-chadwick-fei

[2017-03-02 11:21] #150 closed, assigned to nobody

[2017-03-02 11:45] ryan-chadwick-fei commented on #54
Production site is running in Azure

[2017-03-02 11:45] #54 closed, assigned to ryan-chadwick-fei

[2017-03-02 11:46] ryan-chadwick-fei commented on #59
Deployments have been entirely Docker based from the get-go

https://hub.docker.com/u/feidevops/dashboard/

[2017-03-02 11:46] #59 closed, assigned to ryan-chadwick-fei

[2017-03-02 13:40] davidatfei commented on #184
Changed to "Report Data" to reflect that the data on that page is the data that was used to generate the reports.

[2017-03-02 14:25] ClaireReinken commented on #167
The following steps were used to install and configure Visual Studio Code:
Install Visual Studio Code
1.	Download the branch from Github https://github.com/FEISystems/ca-adpq-prototype
2.	Download and Install MySQL
3.	Open MySQL Workbench
4.	Create a database named CA
5.	Execute the database creation ca_proto\ca_service\DbScripts\BuildDatabase.txt in MySQL Workbench
6.	Open the prototype in Visual

[2017-03-02 14:25] #167 closed, assigned to TerryBoswell, ClaireReinken

[2017-03-02 14:26] ClaireReinken commented on #50
We held several rounds of user testing to ensure that we were achieving a high degree of usability in our application. In this effort, we identified and recruited a group of people to participate in our testing. Utilizing the rapid prototype created, we asked our participants to complete a series of tasks. During the testing sessions, our observers collected notes on the users interaction with the

[2017-03-02 14:26] #50 closed, assigned to lnajera, jennymnh, llin-freeman

[2017-03-02 14:27] ClaireReinken commented on #46
Axure, a rapid prototyping tool, was used to design the application including the required features sets. The rapid prototype contained the necessary screens and features with sufficient detail to be tested by People. As a result, we were able to gain a better understanding of how People used the application including their needs and any pain points encountered. The information gathered from the u

[2017-03-02 14:27] #46 closed, assigned to lnajera, jennymnh, llin-freeman

[2017-03-02 14:27] ClaireReinken commented on #55
FEi used X-Unit to write unit tests for the ASP.Net Core Business Logic. Our unit tests can be found in https://github.com/FEISystems/ca-adpq-prototype/tree/master/ca_proto/ca_proto_tests.
The screenshot below shows Unit Test Runner results.

[2017-03-02 14:27] #55 closed, assigned to JXPrime, davidatfei

[2017-03-02 14:28] ClaireReinken commented on #60
The following platforms were used to create and run the prototype. These platforms
are openly licensed and free of charge.
•	Visual Studio Code 1.9 (create)
•	AppVeyor (create)
•	Two Docker tools
o	Docker Engine (local repository and container management) (run)
o	Docker Hub (automated builds and remote repository) (create)
•	MySQL 8 – specifically
•	.Net Core 1.1.0 (create and run)
•	Ubuntu Server

[2017-03-02 14:28] #60 closed, assigned to TerryBoswell

[2017-03-02 14:29] #67 closed, assigned to TerryBoswell, ClaireReinken

[2017-03-02 14:30] #66 closed, assigned to TerryBoswell, ClaireReinken

[2017-03-02 14:32] #62 closed, assigned to llin-freeman

[2017-03-02 14:33] ClaireReinken commented on #51
Our team used scrum, an agile approach to iterative application development. Scrum provides a series of best practices and activities for planning and managing iterative development. At the end of our scrum iteration (known as a sprint), scrum provides a review and feedback activity called a sprint demo. During the sprint demo, the work in progress is demonstrated to our stake holders and product

[2017-03-02 14:34] #51 closed, assigned to TerryBoswell, llin-freeman

[2017-03-02 14:35] neelusingh28 commented on #52
Verified and Passed in 5000 site.

[2017-03-02 14:35] #52 closed, assigned to neelusingh28

[2017-03-02 14:51] neelusingh28 commented on #177
Top navigation is remain now in Chrome, IE & Firefox but NOT in devices - Galaxy, iPhone 6, iPad,

[2017-03-02 14:57] neelusingh28 commented on #175
Adding item from product detail page updating cart in Chrome, Firefox and devices but NOT IE

[2017-03-02 14:59] kcallander opened #185 "Screen reader keyboard testing - bugs"
When doing some screen reader testing, there were some things not functioning as expected.
- [x] On home page – tabbing skips over carousel of images
- [x] After first logging in, tabbing starts at first product in featured products
- [x] The compare on the details page is not working with pressing ‘enter’
- [x] Tabbing jumps over ‘Logout’
- [x] When navigating the top nav, how does one go back? S

[2017-03-02 15:05] neelusingh28 commented on #171
Verified and Passed in 5000 site and working as expected in Chrome, Firefox, IE and devices.

[2017-03-02 15:10] neelusingh28 commented on #171
Value '1' is auto populating in Chrome, Firefox, IE and devices
BUT
here are NO scroll arrow keys inside the text box in **IE and in devices.**

[2017-03-02 15:27] ClaireReinken opened #186 "When the user logs in, clicking enter should enable the OK button"

[2017-03-02 15:28] neelusingh28 opened #187 "Issue #22 System is NOT validating phone number and zip code in checkout information"
Add items to the cart>go to the cart>Click on proceed checkout >enter alphabetic text in phone number and zip code instead of numeric. System allows to proceed.

System should validate 10 digit phone number and 5 digit zipcode

[2017-03-02 15:28] JXPrime commented on #175
can't reproduce on the :5000 site. Item went into cart just fine.

[2017-03-02 15:31] ClaireReinken commented on #175
Did you try IE?

Claire Reinken, AM.PMP
Senior Proposal Manager

office   | 443.472.4613
fax       | 410.715.6538
email   |  claire.reinken@FEIsystems.com<mailto:claire.reinken@FEIsystems.com>
FEi Systems
9755 Patuxent Woods Drive, Suite 300 Columbia, MD 21046 |  www.FEIsystems.com<http://www.feisystems.com/>

From: Jonas Bush [mailto:notifications@github.com]
Sent: Thursday, March 02, 2017 10:29

[2017-03-02 15:53] jennymnh commented on #171
This is normal browser behavior and how IE handles HTML 5 inputs. IE does not add the arrows, but Chrome and other browsers may have them. I would say this is not a bug.

Also, what types of devices are you using? On my iPhone's Safari browser when I touch the input I am given  an option to enter numbers, but no arrows either. This is normal. Screenshot below:
![image](https://cloud.githubusercont

[2017-03-02 15:57] neelusingh28 commented on #171
All right then this can be closed. Thanks.

[2017-03-02 15:57] #171 closed, assigned to neelusingh28

[2017-03-02 16:14] jennymnh commented on #186
Ready for testing

[2017-03-02 16:27] neelusingh28 commented on #172
My Order History link is working as expected in Chrome and in Firefox

BUT

link is missing in devices Galaxy S5, ipad and iphone 6

[2017-03-02 16:33] Mikewilburn302 opened #188 "ISSUE #135 - Refreshing Compare List doubles items"
Browser: Chrome
User: AuthorizedUser1

Repro Steps

Select four items to compare
Go to compare list
Refresh page
Validate there are now 8 items

[2017-03-02 16:47] Mikewilburn302 opened #189 "ISSUE #135 - All users share same compare list"
Browser: Chrome
User: AuthorizedUser2

Repro Steps

Log in as AuthorizedUser1
Select four items to compare
Go to compare list to confirm
Log in as AuthorizedUser2
Go to compare list

Other user's items on on current user's compare list

[2017-03-02 17:03] JXPrime commented on #175
I can't reproduce this on the 5000 site. If it happens again please have your dev tools open to capture any javascript errors that might be occurring.

[2017-03-02 17:08] neelusingh28 opened #190 "IE related issues"
1. Adding item from product detail page is NOT updating cart in  IE

![image](https://cloud.githubusercontent.com/assets/25771656/23518419/67f1a960-ff41-11e6-9e52-b2f86493a97a.png)

[2017-03-02 17:09] cbgordon opened #191 "Authorized User Story 26 - Purchase Confirmation Email"
As an authorized user, I want to receive an email once my purchase is complete so that I know that the order was received and I have the confirmation for my records.

Acceptance Criteria:
- After an order is complete, an email is sent to the email address associated with my account.
- Email contains:
     -- List of products ordered
     -- Cost of each item ordered
     -- Order total
     -- Ord

[2017-03-02 17:12] neelusingh28 commented on #175
Closing this issue and opening separate issue for all IE related problems.

[2017-03-02 17:12] #175 closed, assigned to neelusingh28

[2017-03-02 17:21] neelusingh28 commented on #179
Logout suffixed with username is displayed in Chrome & Firefox but NOT in IE and devices (Galaxy S5, ipad and iphone 6)

[2017-03-02 17:26] lutech commented on #141
@neelusingh28 , I also added visual form validation to make it easier to know what is required.

[2017-03-02 17:26] JXPrime commented on #179
can't repro.
![image](https://cloud.githubusercontent.com/assets/1841009/23519033/bcb3fdf4-ff32-11e6-9096-a5a16850b31f.png)

[2017-03-02 17:33] Mikewilburn302 opened #192 "ISSUE #22 - Shopping cart is the same for all users"
Browser: Chrome
User: AuthorizedUser1

Repro Steps

Log in as AuthorizedUser1
Add items to cart
Go to cart to confirm
Log in as AuthorizedUser2
Go to compare list

Other user's items on on current user's cart

[2017-03-02 17:34] neelusingh28 commented on #141
Browser: Chrome
logged in as Admin 1

1. Go to Add product> entered all fields except UNSPSC > Click on Add item > Add item does nothing.

[2017-03-02 17:34] ClaireReinken opened #193 "Orders should change from Placed Status to Shipped after 15 minutes"

[2017-03-02 17:47] neelusingh28 commented on #179
Verified and Passed in 5000 site and working as expected in Chrome, Firefox, IE and devices.

[2017-03-02 17:47] #179 closed, assigned to neelusingh28

[2017-03-02 17:48] JXPrime commented on #193
This is the commit: https://github.com/FEISystems/ca-adpq-prototype/commit/d16d8b5e7c37a5b233a9f49d154177138686cd5d

[2017-03-02 18:06] JXPrime commented on #190
@neelusingh28 Can you expand the size of the console window so we can see all of that red text?

[2017-03-02 18:07] davidatfei commented on #141
Cannot reproduce. Works as expected. Please provide more detail if you are still having trouble.

[2017-03-02 18:09] davidatfei commented on #140
Please provide the URL or URLs for the page(s) where paging should be added.

[2017-03-02 18:13] lutech commented on #141
Was able to reproduce. It has been resolved.

[2017-03-02 18:17] jennymnh commented on #177
This was design as intended. If you have a sticky top navigation it takes up too much space on the screen and you would only have half a screen to view your content.

[2017-03-02 18:30] neelusingh28 commented on #172
Verified and Passed in 5000 site and working as expected in Chrome, Firefox, IE and devices.

[2017-03-02 18:30] #172 closed, assigned to neelusingh28

[2017-03-02 18:34] neelusingh28 commented on #124
@lutech
Browser: Chrome but have following issues now:
All Value Added Services is displaying now but 30 items however data set have 20
Desktop Value Added Services are 8 in data set but displaying 6 on 5000 site.
Laptop Value Added Services are 9 in data set but displaying 7 on 5000 site.

[2017-03-02 18:39] neelusingh28 commented on #177
All right closing then.

[2017-03-02 18:39] #177 closed, assigned to neelusingh28

[2017-03-02 18:55] Mikewilburn302 opened #194 "ISSUE #114 - User cannot filter Trends by Dept."
Browser: Chrome
User: Admin1
Repro Steps

Log in as Admin1
Go to Admin homepage
Set report data to 1/1/2015-3/31/2017
Expand Trends report
Validate user cannot filter

There is no option to filter trends by department

[2017-03-02 18:55] ClaireReinken opened #195 "Mobile UI Issues"
The top navigation bar is not responsive and the full home page doesn't show. Picture is cut off.

[2017-03-02 19:44] davidatfei commented on #194
Please review, Claire. I don't think we plan to add this.

[2017-03-02 19:45] jennymnh commented on #187
The issue has been resolved. Moving to QC

[2017-03-02 19:46] ClaireReinken commented on #194
Let's just show all departments at this point.

[2017-03-02 19:59] neelusingh28 commented on #124
Retested:

Desktop Value Added Services & Laptop Value Added Services are displaying as expected ignoring items with $0 price. Count is matching as per data set.

but All Value Added Services are 18 in data set but displaying 30 on 5000 site.

[2017-03-02 20:19] neelusingh28 commented on #154
Verified and Passed in 5000 site and working as expected in Chrome & Firefox.

[2017-03-02 20:19] #154 closed, assigned to neelusingh28

[2017-03-02 20:44] neelusingh28 opened #196 "Issue #115 - Image is NOT disappearing on selecting 'Select Image file name' from drop down on Admin Product Management"
Browser Chrome & Firefox

Log in as Admin
Go to Search> Image File name> Select a image> image appears>go back and select >Select image file name>image does NOT disappears

[2017-03-02 20:52] Mikewilburn302 opened #197 "ISSUE #25 - User can cancel Shipped and Canceled orders"
Browser: IE
User: AuthorizedUser1

Repro Steps:
Log in
Go to My Order history
Select User-cancelled order
Click Cancel Order

Go to My Order history
Select Shipped order
Click Cancel Order

Description:

User is able to cancel orders that were already cancelled or shipped.

[2017-03-02 20:54] jennymnh commented on #195
The slideshow image is very large and not user friendly for mobile. Can we just hide it?

[2017-03-02 20:55] ClaireReinken commented on #195
Fine with me

[2017-03-02 20:55] Mikewilburn302 commented on #187
System still allowing text in numeric fields

[2017-03-02 21:03] jennymnh commented on #195
Done

[2017-03-02 21:07] jennymnh commented on #187
This is currently working for me. I'm able to enter text into the textbox, but the field validation will appear and prevent you from continuing.
Here's how it's looking on my :5000 site, does it have a similar appearance for you?
![image](https://cloud.githubusercontent.com/assets/9370407/23527034/4c24e2c6-ff62-11e6-97a2-af59dcc41878.png)

updated my screenshot with the full screen
![image](https:

[2017-03-02 21:50] neelusingh28 opened #198 "Issues found on public URL - http://ca-adpq-prototype.eastus2.cloudapp.azure.com"
Tested on iPhone 6:

1. Log in as admin - Go to reports >run reports>Reports display issue on scrolling to the right.  Please check out the screenshot.
2. Log in as admin - Go to Add product> Enter all details > Click on add item - it does nothing
3. Log out not displaying user name

Expenditures by Product Type:
![image](https://cloud.githubusercontent.com/assets/25771656/23529287/10eea97c-ff6b-1

[2017-03-02 21:58] neelusingh28 commented on #141
Verified and Passed in 5000 site and working as expected in Chrome, Firefox and IE.

[2017-03-02 21:58] #141 closed, assigned to neelusingh28

[2017-03-02 22:02] neelusingh28 commented on #195
@jennymnh & @ClaireReinken  Images are hidden from 5000 site but still showing on azure site? I think it should be hidden there too for devices?

[2017-03-02 22:14] ClaireReinken opened #199 "When I restart a session, it still shows me as logged in but I cannot see Admin or My Order History"
I think this is a bug

[2017-03-02 22:52] ryan-chadwick-fei commented on #138
complete

creates db ca and runs initial schema import

can execute as my .sh or .sql files on init as we want
can import all the demo data up front if anyone wants to create the SQL for it.....

https://hub.docker.com/r/feidevops/ca_adpq_proto_db/

[2017-03-02 22:52] #138 closed, assigned to ryan-chadwick-fei

[2017-03-02 22:54] #166 closed, assigned to Mikewilburn302

[2017-03-02 22:54] #14 closed, assigned to lutech, jennymnh, llin-freeman, ClaireReinken, davidatfei

[2017-03-02 22:54] #113 closed, assigned to davidatfei, Mikewilburn302

[2017-03-02 22:54] #194 closed, assigned to nobody

[2017-03-02 22:55] #26 closed, assigned to Mikewilburn302

[2017-03-02 22:55] #111 closed, assigned to davidatfei, Mikewilburn302

[2017-03-02 22:55] #24 closed, assigned to Mikewilburn302

[2017-03-02 22:55] #114 closed, assigned to Mikewilburn302

[2017-03-02 22:55] #189 closed, assigned to Mikewilburn302

[2017-03-02 22:55] #135 closed, assigned to Mikewilburn302

[2017-03-02 22:55] #192 closed, assigned to Mikewilburn302

[2017-03-02 22:56] #193 closed, assigned to nobody

[2017-03-02 22:56] #184 closed, assigned to Mikewilburn302

[2017-03-02 22:56] #112 closed, assigned to davidatfei, Mikewilburn302

[2017-03-02 22:56] #186 closed, assigned to nobody

[2017-03-02 22:59] ryan-chadwick-fei opened #200 "Populate Dashboard in Grafna"
Part of the Continuous Monitoring requirement

monitors are in place and pushing metrics to Prometheus.  Grafana is a visualization dashboard.

Need to populate some graphs to show metrics.

[Grafna Dashboard](http://ca-adpq-prototype.eastus2.cloudapp.azure.com:3000)
Account information:
monitor
Letmein1!

[2017-03-02 23:00] ryan-chadwick-fei commented on #78
closing - not enough time - removing from scope

[2017-03-02 23:00] #78 closed, assigned to ryan-chadwick-fei

[2017-03-02 23:01] #77 closed, assigned to ryan-chadwick-fei

[2017-03-02 23:01] ryan-chadwick-fei commented on #74
removing from scope - not enough time to implement

[2017-03-02 23:01] #74 closed, assigned to ryan-chadwick-fei

[2017-03-02 23:01] #137 closed, assigned to ryan-chadwick-fei

[2017-03-03 00:47] neelusingh28 commented on #195
@jennymnh The slideshow image is till displaying on iPad device. Rest all devices are NOT displaying it for both 5000 site and azure

[2017-03-03 00:58] jennymnh commented on #195
I only took it off on small devices (414px wide and less to be exact). I think this should be ok on an iPad, the screen is large enough that the image would not take up most of the screen.

[2017-03-03 01:02] neelusingh28 commented on #196
Verified and Passed in 5000 site and working as expected in Chrome, Firefox, IE and devices.

[2017-03-03 01:02] #196 closed, assigned to neelusingh28

[2017-03-03 01:14] neelusingh28 commented on #187
Verified and Passed in 5000 site and working as expected in Chrome, Firefox, IE and devices.

[2017-03-03 01:14] #187 closed, assigned to neelusingh28

[2017-03-03 01:14] #115 closed, assigned to neelusingh28

[2017-03-03 01:30] neelusingh28 commented on #149
Verified and Passed in 5000 site and working as expected in Chrome, Firefox and devices.

[2017-03-03 01:30] #149 closed, assigned to neelusingh28

[2017-03-03 01:32] #22 closed, assigned to neelusingh28

[2017-03-03 01:34] neelusingh28 commented on #195
all right closing.

[2017-03-03 01:34] #195 closed, assigned to jennymnh

[2017-03-03 02:58] ryan-chadwick-fei commented on #200
added three Dashboards:
Prometheus Stats
Docker and system monitoring
Note exporter server stats

[2017-03-03 02:58] #200 closed, assigned to ryan-chadwick-fei

[2017-03-03 06:23] lutech commented on #124
@neelusingh28 , I was able to verify that there are 29 items that should be appearing in All VAS. Please see spreadsheet below.
![image](https://cloud.githubusercontent.com/assets/6694316/23540527/c246ffa0-ffaf-11e6-8dfd-eaa9b2c99a77.png)

However, the Yellow line is not showing up in the All VAS, but DOES show up in the advanced search.
Adding @davidatfei , I don't know why this would be. Any ide

[2017-03-03 12:43] davidatfei commented on #124
It is showing up on the 5000 server.

![basicdispositionon5000inallvas](https://cloud.githubusercontent.com/assets/25746847/23551514/02b3a162-ffe5-11e6-921f-9775b5c711bd.png)

[2017-03-03 12:46] lutech commented on #124
Hi david, there should actually be two with the same Title but different CLIN. Can you also check the Product Details.

Thanks,

Luis Najera
Sr. UX Associate

office | 443.270.5108
fax | 410.715.6538
email | luis.najera@feisystems.com<mailto:luis.najera@feisystems.com>

FEi Systems
9755 Patuxent Woods Drive, Columbia, MD 21046 | www.FEIsystems.com<http://www.FEIsystems.com>

On Fri, Mar 3, 2017 at

[2017-03-03 12:55] davidatfei commented on #124
I see. You are probably filtering on Category, and those two have different categories.  It's subtle, but one has a '-' while the other does not.

[2017-03-03 12:57] davidatfei commented on #124
Never mind. I think I know what it is. Working on it now.

[2017-03-03 13:42] davidatfei commented on #140
Implemented paging on the product browse pages. The home page's Featured Products is not paged since it makes sense that "featured products" will not be a large list.

[2017-03-03 13:44] davidatfei commented on #124
@lutech , I found the problem and a fix has been created.

[2017-03-03 14:07] ClaireReinken commented on #44
ReadMe added.

[2017-03-03 14:07] #44 closed, assigned to jtanus, llin-freeman, ClaireReinken

[2017-03-03 14:22] neelusingh28 commented on #190
Tested today morning 3/3/2017:

Logged in as AuthorizedUser3

Instant Add to cart button is not working in IE.

[2017-03-03 14:27] neelusingh28 commented on #140
Bug Details:
Tested in Chrome/Firefox/IE & devices:

Pagination is working as expected for categories but it is NOT available for quick search.

[2017-03-03 14:42] neelusingh28 commented on #124
Verified and Passed in 5000 site and working as expected in Chrome, Firefox, IE and devices.

[2017-03-03 14:42] #124 closed, assigned to neelusingh28

[2017-03-03 14:51] llin-freeman opened #201 "Input from survey results, request for label change at Check out Page"
Could the Name field in the Check Out page say: Name (First Name Last Name)?

[2017-03-03 14:53] llin-freeman opened #202 "Survey input--notify when item is added to cart"
User input from survey--notify when item is added to cart.

(This was completed)

[2017-03-03 14:54] llin-freeman commented on #202
The UI team fixed this

[2017-03-03 14:54] #202 closed, assigned to nobody

[2017-03-03 14:57] kcallander commented on #185
- [x] After first logging in, tabbing starts at first product in featured products - **_this now starts at the left arrow in the carousel as opposed to top of page._**
- [x] Tabbing jumps over ‘Logout’ _**I am still seeing the tabbing jumping over the 'Logout' info**_
- [x] When clicking the compare button on home page items, it doesn't always leave a visual check mark and it seems to be adding an

[2017-03-03 14:59] ClaireReinken commented on #48
To ensure compliance without incurring refactoring costs, our team weaves Section 508 requirements into design, development, and testing at the beginning of every project. FEi also carefully considered the design of the prototype to ensure 508 compliance up to WCAG AA level through utilizing the following guidelines and technology:
	W3C accessibility recommendations
	WAI-ARIA (technology that ma

[2017-03-03 15:00] ryan-chadwick-fei commented on #139
removed this document as redundant to the main readme.md
all devops functions are thoroughly documented there
some extra details can be found in the [Docker Environment Builds.md](https://github.com/FEISystems/ca-adpq-prototype/blob/master/devops/Docker%20Environment%20Builds.md)

[2017-03-03 15:00] #139 closed, assigned to ryan-chadwick-fei

[2017-03-03 15:11] neelusingh28 opened #203 "When more than 4 items added for compare then Clear All link in pop up does not clear items selected"
Browser Chrome:

Check more than 4 items for compare>System will display pop up on the top with Clear All link> click on that link>nothing happens

I think the expectation is that system should uncheck all the items selected for compare.

![image](https://cloud.githubusercontent.com/assets/25771656/23556261/fa37fd48-fff9-11e6-96b9-ba6a0e1653c1.png)

[2017-03-03 15:24] ClaireReinken commented on #199
[‎3/‎3/‎2017 10:15 AM] Claire Reinken:
So when I was looking at the site the other day, it said "Logout (Admin2)" at the top but I was unable to add things to cart
I clicked on Logout and then the login appeared and I wasn't logged in anymore but it still showed "logout"
This was after I stopped a session and then resumes
*resumed it
Does that help?
[‎3/‎3/‎2017 10:22 AM] Terry Boswell:
when you s

[2017-03-03 15:25] davidatfei commented on #198
Checked in a fix for the reports to draw a white background instead of transparent. This will prevent that gray from showing through.

[2017-03-03 15:28] davidatfei commented on #198
I just added a new item to the inventory on the public site. You can search for Title = 'New Item'.

[2017-03-03 15:28] davidatfei commented on #198
Logout link seems to be including the name of the currently logged in user, too.

[2017-03-03 15:34] neelusingh28 commented on #163
Verified and Passed in 5000 site and working as expected in Chrome, Firefox, IE and devices.

[2017-03-03 15:34] #163 closed, assigned to neelusingh28

[2017-03-03 15:35] Mikewilburn302 commented on #197
User can still cancel shipped orders

[2017-03-03 15:38] #188 closed, assigned to Mikewilburn302

[2017-03-03 15:40] Mikewilburn302 opened #204 "Cannot add items to cart in IE"
Browser: IE
User: AuthorizedUser1

Repro Steps:
Log in
Search for product
Add to cart from results page (nothing happens)
View details and add to cart (nothing happens)

User is unable to add items to cart in IE

[2017-03-03 15:44] neelusingh28 commented on #199
I observed a slightly different issue now...in chrome/Firefox and IE

1. Log in as Admin1 - System displays as expected Logout (Admin 1) and Admin & My Order History on top left
2. Close the browser
3. System displays the site with Logout (Admin 1) but Admin & My Order History on top left **disappears**
4. System allows to perform any other actions like add to cart, compare and place order

@Clair

[2017-03-03 15:46] Mikewilburn302 opened #205 "Cart displays default item in IE"
Browser: IE
User: AuthorizedUser3

![2017-03-03_10-44-40](https://cloud.githubusercontent.com/assets/25773724/23557627/9ed4b43c-fffe-11e6-906d-cd65bf5cd0ad.jpg)

[2017-03-03 15:49] Mikewilburn302 opened #206 "Refreshing Compare list changes number of items"
Browser: Firefox and Chrome (works in IE)
User: AuthorizedUser3

Repro steps:

Add 4 items to compare list
Refresh multiple times (number of items is 4, sometimes 3, sometimes 2, sometimes 6)

[2017-03-03 15:49] ClaireReinken commented on #199
Expected results should be:

- When a user is logged in, the system should display Logout(User Name)

- When the user is logged out, the system should display Login

[2017-03-03 15:57] neelusingh28 commented on #199
@ClaireReinken - Above expected results are working fine if user manually clicks on logout . Can we know the expected results for closing the browser without manually logging out?

[2017-03-03 16:04] #204 closed, assigned to nobody

[2017-03-03 16:07] JXPrime commented on #203
The "clear all" functionality I was unable to make function. I removed that text from the message.

[2017-03-03 16:12] neelusingh28 commented on #198
Issue # 2 & 3 are resolved but issue # 1 is still NOT fixed.

Run any report > Scroll to the right > devices displaying gray space.
![image](https://cloud.githubusercontent.com/assets/25771656/23558603/3da29a7c-0002-11e7-888c-ca7e784577e3.png)
![image](https://cloud.githubusercontent.com/assets/25771656/23558606/40314766-0002-11e7-9e5e-697c687bc0fe.png)

[2017-03-03 16:14] davidatfei commented on #198
It has not been pushed to the public server, yet. You'll need to wait for Ryan to deploy it.

[2017-03-03 16:17] ClaireReinken commented on #198
Ryan will deploy the build soon.

Claire Reinken, AM.PMP
Senior Proposal Manager

office   | 443.472.4613
fax       | 410.715.6538
email   |  claire.reinken@FEIsystems.com<mailto:claire.reinken@FEIsystems.com>
FEi Systems
9755 Patuxent Woods Drive, Suite 300 Columbia, MD 21046 |  www.FEIsystems.com<http://www.feisystems.com/>

From: davidatfei [mailto:notifications@github.com]
Sent: Friday, March

[2017-03-03 16:20] ClaireReinken commented on #199
If the user closes the browser, they should be logged out.

[2017-03-03 16:26] neelusingh28 commented on #199
I have retested, closing the browser is NOT logging out the user. Below are the bug details.

1. Log in as Admin1 - System displays as expected Logout (Admin 1) and Admin & My Order History on top left
2. Close the browser
3. System displays the site with Logout (Admin 1) but Admin & My Order History on top left disappears
4. System allows to perform any other actions like add to cart, compare and

[2017-03-03 16:27] JXPrime commented on #199
That's not how it works. We issue a cookie which lasts for a day. Even if you close your browser the cookie will remain.

[2017-03-03 16:34] neelusingh28 commented on #199
All right closing then since manual log out is working fine.

[2017-03-03 16:34] #199 closed, assigned to ClaireReinken

[2017-03-03 16:36] ClaireReinken commented on #140
Writing separate issue for quick search.

[2017-03-03 16:36] #140 closed, assigned to nobody

[2017-03-03 16:37] ClaireReinken opened #207 "Quick Search and Advanced Search Results Should Support Pagination"

[2017-03-03 16:44] neelusingh28 commented on #203
Verified and Passed in 5000 site and working as expected in Chrome, Firefox, IE and devices.

[2017-03-03 16:44] #203 closed, assigned to neelusingh28

[2017-03-03 16:47] kcallander commented on #185
All previous issues were resolved. One new issue that came up is that the user can not select 'Log In or Log out out with the keyboard.

[2017-03-03 16:49] #48 closed, assigned to kcallander

[2017-03-03 16:50] #185 closed, assigned to kcallander

[2017-03-03 16:53] ClaireReinken commented on #182
Confirmed.

[2017-03-03 16:53] #182 closed, assigned to nobody

[2017-03-03 16:53] ClaireReinken commented on #205
David could not reproduce it.

[2017-03-03 16:56] #205 closed, assigned to Mikewilburn302

[2017-03-03 16:59] #25 closed, assigned to Mikewilburn302

[2017-03-03 17:00] #197 closed, assigned to Mikewilburn302

[2017-03-03 17:02] neelusingh28 commented on #198
Tested after build:

Reports portion displays correctly with white background however top and bottom still displays grey on scrolling to the right. Please check the screenshot.

![image](https://cloud.githubusercontent.com/assets/25771656/23560619/17b02c56-0009-11e7-8b15-e74ae897059b.png)

[2017-03-03 17:04] davidatfei commented on #198
@neelusingh28 , that is an issue for the UI people.

[2017-03-03 17:16] llin-freeman commented on #183
Cleared on 5000 and azure, for all user names.

[2017-03-03 17:16] #183 closed, assigned to llin-freeman